[2019-07-03 20:51] kirksl opened #1 "build reports fail to launch after upgrading to vscode 1.36"
setting karate runner to automatically launch build reports after tests execute fails
clicking on any build report in karate runner activity bar fails

fail meaning nothing happens
no errors display

[2019-07-05 19:18] kirksl commented on #1
https://stackoverflow.com/questions/56908222/vscode-env-openexternal-does-not-open-uri-after-upgrading-to-vscode-1-36-0

[2019-07-10 19:02] kirksl commented on #1
fixed by 3rd party.  https://github.com/microsoft/vscode/issues/76882

[2019-07-10 19:02] #1 closed

[2019-07-25 06:16] paaco opened #2 "Classpath issue with standalone runner"
The command line to run karate.jar generated by the karate-runner 0.20 is:
`java -jar karate.jar <extra-arguments> file.feature`

When using -jar, the classpath is implicitly set to just that jar file. This makes it impossible to use Java-interop from other jar or class files, or even use the karate.read() command.
Using -cp … in `<extra-arguments>` does not work, because it is overwritten by the

[2019-08-06 17:40] kirksl commented on #2
@paaco thank you for letting us know about this issue.  Can you provide a sample project that should work with your "java -cp" command.  I've started to look into this but when I call "java -cp karate.jar:com.intuit.karate.Main file.feature" I get an error saying "Could not find or load main class test.feature".

[2019-08-06 19:28] ptrthomas commented on #2
@kirksl see if the info here helps: https://stackoverflow.com/a/56458094/143475

[2019-08-06 19:50] kirksl commented on #2
@ptrthomas thanks for the link.  I just realized there is a space not a ":" or ";" after both jar files.  I can successfully run the following "java -cp karate.jar com.intuit.karate.Main file.feature".  Maybe ":" and ";" are only for delimiting multiple jar files?

[2019-08-06 20:39] ptrthomas commented on #2
@kirksl yep, that's right

[2019-08-06 22:21] kirksl commented on #2
@paaco @ptrthomas fixed.  entire command line can be set by user now.
https://github.com/kirksl/karate-runner/commit/680dd266ef6c995266ecc590e78cbbb29b5248b5

[2019-08-06 22:21] #2 closed

[2019-08-08 23:21] kirksl opened #3 "tests fail to launch after upgrading to vscode 1.37"
when attempting to launch any test from codelens or the tests activity bar vscode 1.37 throws an error instead of launching the test.  the error is "Must have workspace folderkarate: Karate Runner"

while we work through this we recommend downgrading vscode to 1.36.1 and turning off automatic updates.  https://code.visualstudio.com/updates/v1_36

[2019-08-09 00:36] kirksl commented on #3
we are in discussion about this with the vscode developer community.  this appears to be a bug introduced by microsoft.

[2019-08-09 19:29] kirksl commented on #3
TaskScope.Global does not work in vscode 1.37.  we have provided a workaround which should resolve this.  https://github.com/kirksl/karate-runner/commit/c9b74d43e2813c92d8496241e4c83f140d341a74

[2019-08-09 19:29] #3 closed

[2019-08-13 15:30] ianrenauld opened #4 "Cannot run karate-runner when doing Remote Development using SSH"
This is very weird and I'm not convinced it is really an issue with the karate-runner, but for me it works flawlessly when working on local, but when I use a remote workspace using SSH in Visual Studio Code, karate-runner always fails because it uses a weird JAVA_HOME that I never defined:

[code]

Everything else seems to be working correctly. The maven plugin works, if I run the exact same comma

[2019-08-13 17:07] kirksl commented on #4
@ianrenauld thanks for the feedback!  this is an interesting issue.  ultimately karate-runner is just constructing a command that it runs in a task.  the same command you'd run from a command line eg mvn, gradle, java -cp karate.jar, etc.  if you can provide me a repro that will help.  exact steps you took, how you setup your environment.  also if you have a command that does work on the command l

[2019-08-14 12:57] ianrenauld commented on #4
Well, in trying to describe all the steps to reproduce, I found out that my problem was fixed!

If anyone has similar troubles in the future, I think the key was to set the following in the settings.json (you can set those in the settings UI) for the remote and to **restart** Visual Studio Code (even though I'm pretty sure I had done all this when I did the bug report, but I guess I misremembered.

[2019-08-14 12:57] #4 closed

[2019-08-27 11:15] paaco commented on #2
@kirksl Thanks!

You are right, using ":" in the class path separates different jar files on Linux. On Windows, Java expects a ";" instead. And in Windows Power Shell you need to escape the ; inside the classpath with single quotes compared to cmd.exe. All very confusing and unfortunate. At least now I can develop the test on my Windows workstation and run it in the Docker based Gitlab CI environm

[2019-09-22 14:36] sudheertreddy opened #7 "Unable to install in VS2019."
Can you please help me out. I am unable to install in VS2019. I am getting below error.

9/22/2019 8:34:20 AM - Microsoft VSIX Installer
9/22/2019 8:34:20 AM - -------------------------------------------
9/22/2019 8:34:20 AM - vsixinstaller.exe version:
9/22/2019 8:34:20 AM - 16.2.3073
9/22/2019 8:34:20 AM - -------------------------------------------
9/22/2019 8:34:20 AM - Command line parameters

[2019-09-23 00:16] kirksl commented on #7
@sudheertreddy thank you for reporting this issue.  can you provide exact steps you took to reproduce this error.  please ensure to provide exact versions and details about your platform such as version of Windows, Linux or Mac.

[2019-09-23 15:05] sudheertreddy commented on #7
Hey @kirksl, I was installing without having vscode in my machine. I thought it would install in visual studio. Now my issue is resolved. Able to install vscode and then karate-runner.

[2019-09-23 15:59] kirksl commented on #7
@sudheertreddy great!  glad it works for you.  please let us know if you have any questions.

[2019-09-23 15:59] #7 closed

[2019-10-11 19:13] aanutter opened #10 "Enhancement: Support Powershell Syntax for Maven Args"
As powershell is the default shell for VSCode since Windows 10, would be nice to have it supported by the runner.  Powershell requires single quotes around all `-D` Maven args, which means double quotes are then required for string values of the arg.

[2019-10-30 11:54] lvalder opened #12 "Extension for Visual Studio Professional"
Hi,
Is there any way to use this extension with the "full" Visual Studio?
Thanks,
L.

[2019-10-30 17:47] #12 closed

[2019-12-10 19:09] kirksl opened #13 "color issues with new karate language addition"
attached screenshot showing * configure json properties are not colorized.  attached test.feature file repro'ing the issue.

![image](https://user-images.githubusercontent.com/24948266/70560373-51598e00-1b3d-11ea-938d-c1c55c7e1034.png)

[2019-12-10 19:27] kirksl commented on #13
[test.zip](https://github.com/kirksl/karate-runner/files/3946765/test.zip)

[2019-12-10 22:05] kirksl commented on #13
![image (3)](https://user-images.githubusercontent.com/24948266/70573121-23cd0e80-1b56-11ea-9ab4-93a7edc18054.png)
![image (2)](https://user-images.githubusercontent.com/24948266/70573122-23cd0e80-1b56-11ea-8dc6-d2de6b2c533f.png)
![image (1)](https://user-images.githubusercontent.com/24948266/70573123-23cd0e80-1b56-11ea-83ff-0a7db8d018da.png)
![image](https://user-images.githubusercontent.com/2494

[2019-12-10 22:09] kirksl commented on #13
notating images from prior comment
- it would be nice if "print" was colorized in 1st image
- it would be nice if "call" was colorized in 2nd image
- first @tag is white, second @tag is red in 3rd image
- json properties not colorized when using call in 3rd image
- found "delete" word is colorized when used as part of a tests @tag in 4th image
- found ending quote and paren for "call read" is colo

[2019-12-12 20:53] ianrenauld opened #14 "Is it possible to turn off the Karate syntax highlight?"
I was very, very happy with this extension to run my Karate tests and I had found another extension to provide Syntax Highlight for my Karate Feature files.

Now with the latest release of this plugin, I really, really don't like the look of the Syntax Highlight that is now provided (it looks awful on my display theme - the images I see in Issue #13 look nice, but that's not my display theme). I c

[2019-12-12 22:36] kirksl commented on #14
@ianrenauld can you post some screenshots showing the bad experience.  another contributor to this project added this and i can discuss further to see if we can resolve.  on the interim i will look into adding a temporary workaround to disable it.

[2019-12-13 00:53] ianrenauld commented on #14
I use the standard Monokai color theme and this is what I get. The red color everywhere is a bit much...

<img width="754" alt="Karate Runner" src="https://user-images.githubusercontent.com/16843123/70760801-d8af2900-1d18-11ea-8148-70998fd1cc69.png">

Contrast this with the other extension, which is more soothing:

<img width="738" alt="Feature Syntax Highlight" src="https://user-images.githubuser

[2019-12-13 02:02] kirksl commented on #14
@ianrenauld thanks for the screenshots.  i've forwarded everything on to the contributor.  also thank you for the feedback glad to hear we are making a difference!

[2019-12-13 07:46] peterquiel commented on #14
Thanks for the feedback and Indeed, it looks awful.

Explanation: I did not create a new theme, I just created a TextMate Grammar that defines Scopes for tokens. The `Given,When,Then,And,But,*` stuff is scoped as `keyword.language`.
The theme tells vscode how to colorize the different scopes.

So maybe, it's an attribute of Gherkin syntax, to have that many keywords.

I will try to find "better sc

[2019-12-20 10:15] peterquiel opened #15 "Execute `Run Karate Test` via Keyboard Shortcut"
When I  add a keybinding to the `Run Karate Test` command and I press that key combination where the current cursor "selects" the scenario I want to run, I get the following error:

![image](https://user-images.githubusercontent.com/13017110/71247886-f3d1f800-2319-11ea-8420-44ab3195b2a8.png)

So, the expectation is, that I can run the Scenario I currently work on via a keyboard shortcut.

[2020-01-21 04:32] ptrthomas opened #17 "maven cli command not correct"
I tried to point the [karate-runner] to the `karate/karate-demo` module of the karate source code.

navigated to `src/test/java/demo/driver/demo-03.feature` and clicked on the [Run Karate Tests] codelens at the top

but it was running all the tests, with some difficulty I tried to screenshot the command the [karate-runner] was issuing, here it is

![image](https://user-images.githubusercontent.com

[2020-01-24 06:32] kirksl commented on #15
@peterquiel fixed.  https://github.com/kirksl/karate-runner/commit/287b1fb2d04d57ddebf81bb499c33cde2175ed68

[2020-01-24 06:32] #15 closed

[2020-01-24 16:45] kirksl commented on #17
@ptrthomas thanks for reporting.  this is a really delicate thing right as so many people are using the tool now without issues.  do you know why 'mvn test' is not working in your case?  can your pom.xml or similar be instrumented to make it work with 'mvn test'?  also curious what are the implications and is it possible to switch everyone over to just 'mvn exec:java'.  i'm assuming some people mi

[2020-01-24 17:22] ptrthomas commented on #17
@kirksl here's my understanding, it has to be mvn test if using a runner. but when the intent is to use the cli it has to be exec:java. so I think it is ok to switch over those who have selected the option to "override karate runner" does that make sense ?

[2020-01-24 19:52] kirksl commented on #17
@ptrthomas crystal clear.  removed 'test' if running with new karate cli for maven.  tested and appears fixed.  closing bug.  let me know if you still see an issue.  https://github.com/kirksl/karate-runner/commit/5c80ca638bb998577f6b8a9389cc191cc3a65bd0

[2020-01-24 19:52] #17 closed

[2020-01-25 00:54] kirksl commented on #14
closing as there are sufficient workarounds for now and our goal won't be to turn off highlighting, but to fix all issues in https://github.com/kirksl/karate-runner/issues/13

[2020-01-25 00:54] #14 closed

[2020-01-25 05:59] ptrthomas commented on #17
@kirksl works perfectly in 0.7.3 thanks for the quick fix !

[2020-02-16 14:34] peterquiel commented on #13
Created https://github.com/kirksl/karate-runner/tree/bug/issue-13/color-issue-with-new-karate-language-addition to work on these issuses

[2020-02-20 14:56] paaco commented on #13
@peterquiel The parameters of `select`, `click` or `input` actions appear as Javascript code, while they are in fact just strings (note the locators here are xpaths, not css selectors):

![image](https://user-images.githubusercontent.com/22741486/74945429-07700c80-53f8-11ea-92c3-ad3443208575.png)

Or even (notice how the "value" disappears in the green inline comment):

![image](https://user-image

[2020-02-20 15:09] ptrthomas commented on #13
@paaco just hijacking the discussion for a moment, since I lurk here as well

do you think an improvement to the "wildcard locator" would be an enhancement

`* click('{input@type=submit}Bereken')`

and I thought this would be already an alternative for the last line above:

`* click('{^button}Sample')`

but yes if you want to "standardize" on XPath, what you have works I guess

[2020-02-20 20:41] paaco commented on #13
@ptrthomas well I was merely pointing at additional strange syntax highlighting. Maybe it's just because of the at-sign.

Anyway, I like the fact that the "wildcard locator" is really short, but it's yet another way of specifying an element, next to css selector or xpath. Personally I would not extend it much further.

I use XPath (or css) because I can copy/paste that in a browser and see what it

[2020-02-20 21:06] kirksl commented on #13
syntax highlighting is a work in progress especially with the new UI syntax.  @peterquiel i've made some updates to the branch you have for this to solve prior issues and some of what @paaco is pointing out.  when ready i can update your branch with changes.

here are fixes for first level UI syntax calls.
![image](https://user-images.githubusercontent.com/24948266/74978599-cc62de80-53e1-11ea-9559

[2020-02-27 20:25] kirksl commented on #13
@peterquiel @paaco i've released a new version of karate runner today.  all coloring issues with the exception of chained calls shown in the last image are fixed.  i'll leave this bug open to address that and we should be good to close this.

[2020-02-28 08:15] paaco commented on #13
@kirksl thanx, this already looks some much better to my eyes

[2020-03-03 15:20] clmcdonald opened #23 "Can't run tests using new Karate CLI in VS Code"
Previously, I have been using IntelliJ to run my Karate tests, which is working fine on version 0.9.4. However, I want to get the syntax highlighting and debug features in 0.9.5 using VS Code, but I am not able to configure the "Run Karate Test" button to work properly. I checked the box to use the new Karate CLI in my Settings. When I run the test, I get a warning that it cannot find my karate-co

[2020-03-03 17:10] kirksl commented on #23
@clmcdonald do you happen to have an example project demonstrating the problem.  that might be the fastest way to solve this.  alternatively we can try to run through the paces of Q/A.  some things i'm wondering are what your project structure/file layout looks like, are you able to run karate tests manually from the command line (if so how does that command differ from the one the Karate Runner e

[2020-03-03 19:27] clmcdonald commented on #23
@kirksl I have created a test repo that has the same structure as our projects. I am able to get the test to run fine in IntelliJ, but I cannot get it to run in VS Code. https://github.com/clmcdonald/KarateVSCodeTest

[2020-03-03 22:46] kirksl commented on #23
@clmcdonald thanks for the project.  you mentioned you are able to run tests manually on the command line.  can you tell me what that command is.  i'd like to run it to ensure i have a good baseline and the project runs successfully on my end.

[2020-03-03 23:45] clmcdonald commented on #23
@kirksl It won't work inside that test project because the Java code is not in place, but the way we do it now is just with `mvn test`. But I think that is using the old runner, not the new Karate CLI. I don't know how to run them from the command line using the Karate CLI

[2020-03-04 00:37] kirksl commented on #23
@clmcdonald here's an example of running with the karate cli.  this comes from the karate demo project.  you should be able to update the paths to the pom.xml and the test and it should run... mvn clean compile -f "c:\projects\karate\karate-demo\pom.xml" exec:java -Dexec.mainClass="com.intuit.karate.cli.Main" -Dexec.args="c:\projects\karate\karate-demo\src\test\java\driver\demo\demo-03.feature" -D

[2020-03-04 03:44] ptrthomas commented on #23
@clmcdonald are you on Windows by any chance ? I suspect this may be a windows-only issue - which I am looking into as well

[2020-03-04 04:10] ptrthomas commented on #23
okay I think the VS Code terminal defaulting to "powershell" is the culprit. I think this is easy to fix and you need to change the terminal that VS Code uses, this can be done by going to `File > Preferences > Settings` and setting the terminal this this:

<img width="649" alt="image" src="https://user-images.githubusercontent.com/915480/75844450-11ccd600-5dfc-11ea-972e-e4fd700813dd.png">

[2020-03-04 04:14] clmcdonald commented on #23
@ptrthomas I must have a different issue because I use a Mac. I use the zsh shell.

[2020-03-04 04:41] ptrthomas commented on #23
@clmcdonald never mind I think I found the issue. the VS Code plugin issues `mvn clean compile`

instead it should be `mvn test-compile` because only THEN would the files in `src/test/java` get copied over to the `classpath:`

so I think we have a fix, I will wait for @kirksl  to confirm, also do you think we should allow the `mvn` command to be configurable - I see a `clean before each run` optio

[2020-03-04 04:44] ptrthomas commented on #23
@clmcdonald edited comment above, and it should all work once you have done an intial `mvn clean test-compile` from a separate terminal of course

[2020-03-04 05:26] clmcdonald commented on #23
That worked! Thank you

[2020-03-04 19:59] kirksl commented on #23
@clmcdonald i've changed maven to execute "test-compile" instead of "compile" in the karate runner and published a new version that should be available to VSCode now.  please let me know if this does not resolve your issue.  https://github.com/kirksl/karate-runner/pull/24/commits/5f6329046d338fc27ef12b3c8c4c83b122658ee6

[2020-03-04 19:59] #23 closed

[2020-03-05 16:58] clmcdonald opened #25 "Enhancement: Support for debugging individual scenarios"
I love the plugin, and thanks for your work on it. One enhancement that I would like to request is the ability to debug individual scenarios. I can run scenarios on their own, but as far as I know the only way to use breakpoints is to debug the entire feature file. If I have a bunch of long-running scenarios in a feature file, it could potentially make it tough to debug what I want.

[2020-03-05 17:07] ptrthomas commented on #25
@clmcdonald yes, agree. just FYI - you can add additional debug "sections" to the `launch.json`

so I just tried this and it worked, since Karate can run a feature at a given line number if you append `:30` where 30 is the line number and where a `Scenario` or even an `Examples` row is present.

<img width="664" alt="image" src="https://user-images.githubusercontent.com/915480/76005939-bef53a80-5f

[2020-03-05 17:11] ptrthomas commented on #25
@clmcdonald by the way, the above approach gets super interesting, because you can actually debug even a parallel run ! you can add a `-T 5` in the `karateOptions` IIRC

Another workaround I can suggest for now which may be better than the `:linenum` hack, is to create a new `Feature` maybe with a `@ignore` tag on it that does something like this:

`* call read('some.feature:15')`

and that should

[2020-03-07 01:18] kirksl commented on #25
@clmcdonald @ptrthomas fixed.  there are now two codelens hyperlinks.  when you click a codelens for a feature the whole file will be debugged.  when you click a codelens for a scenario or scenario outline only it will be debugged.  if you click the "start debugging" play button in the debugger view built into vscode the whole file will be debugged.  https://github.com/kirksl/karate-runner/commit/

[2020-03-07 01:18] #25 closed

[2020-03-07 01:37] ptrthomas commented on #25
@kirksl this is great, love how the `Debug` options becomes so much more "accessible".

[2020-03-09 20:48] clmcdonald opened #27 "Debug code lens is using parent maven project"
I have a folder called test-suite with its own pom.xml that adds Karate as a dependency. When I use the "Run Karate Tests" code lens, it works as expected. However, with the new Debug code lens, it is trying to run the tests from the parent pom.xml, and therefore I get the error: "java.lang.ClassNotFoundException: com.intuit.karate.cli.Main". One workaround I've found is to open up only the test-s

[2020-03-09 22:32] kirksl commented on #27
@clmcdonald thanks for all the feedback.  i'm suspecting this is happening because the path to the pom.xml in our debug configurations are not a fully qualified path and when we run "karate: run" the pom.xml is fully qualified.
![image](https://user-images.githubusercontent.com/24948266/76262997-0bcf5e80-621b-11ea-9b78-bcf690dc2290.png)

if possible it would be helpful if you can provide a sample

[2020-03-10 14:39] clmcdonald commented on #27
Yes, fully qualifying the pom.xml in my "karateCli" launch configuration did solve the problem

[2020-03-12 04:33] kirksl commented on #27
@clmcdonald fixed.  please remove the .vscode directory at the root of your project, restart vscode, setup your karate debug configurations and try again.  we are now dynamically setting the correct path to your pom.xml or build.gradle.  https://github.com/kirksl/karate-runner/pull/28/commits/7e1f0f24259cbcddeaf296790f32c5aa08450caa

[2020-03-12 04:33] #27 closed

[2020-03-24 20:00] ianrenauld opened #29 "Change default key binding for "Run All Tests""
On a Mac, at least, the default key binding for "Run All Tests" is set to command-A. This seems a very dubious choice, as this is also the default binding for "Select All" and now, I simply cannot do a "select all" in my project, it's running all the Karate tests instead.

Even in a blank file in the project I can't "select all", because it tries to run all the Karate tests (there are none, it's a

[2020-03-25 16:32] kirksl commented on #29
@ianrenauld thanks so much for bringing this to our attention

we originally consulted the keymapping pdfs provided by microsoft
https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf
https://code.visualstudio.com/shortcuts/keyboard-shortcuts-macos.pdf

and did not see a conflict.  these are clearly out of date and our apologies.

we'd like to keep shortcuts as intuitive as possibl

[2020-03-25 18:59] kirksl commented on #29
@ianrenauld 0.8.2 released with updated keybindings.  please let us know if there is still a conflict.

[2020-03-25 18:59] #29 closed

[2020-04-05 14:48] dwwhalen opened #32 ""no tests were executed" when using runner"
First of all, sorry for what I'm sure is a basic question.

I have created a new project using the Karate Maven archetype, version 0.9.5.  I have VS Code version 1.43.2 running on a Macbook.  I can run the user.feature test with no problem when using `mvn clean test`.

I want the run this same test with the Karate Runner (0.8.3).  When I try to run it with the runner I accept the default Karate Ru

[2020-04-06 17:28] kirksl opened #33 "'Karate: Debug' codelens should open launch.json if not previously setup"
today a user must goto the 'Debug' activity on the left toolbar and setup their debug configurations in launch.json.  if they try to click 'Karate: Debug' before doing that a picker displays but nothing happens when selecting 'Karate (Debug)' from the picker.

when selecting 'Karate (Debug)' from the picker launch.json should load to enable the user to setup their debug configurations.  running ex

[2020-04-06 17:34] kirksl commented on #32
@dwwhalen hello.  i suspect you may need to change _SyncRunner to the actual name of the Java file serving as your 'Karate Runner' which runs your feature file.  eg.  here you'd specify DemoTest instead of _SyncRunner --> https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/DemoTest.java

[2020-04-06 18:26] dwwhalen commented on #32
That's it, thank you!

[2020-04-06 18:26] #32 closed

[2020-04-08 15:20] dharmjit opened #34 "Use Karate-runner for non java projects"
Hi, I am using karate for non java project and I am able to use it using below command
```java -jar karate-0.9.4.jar product.feature```

Is it possible to configure karate-runner for non java projects and using karate jar

[2020-04-08 16:29] kirksl commented on #34
@dharmjit yes it is supported by default.  please try renaming your karate-0.9.4.jar to karate.jar and try again with it in the root of your project.

[2020-04-09 13:28] Techmaster21 opened #35 "Having Terminal>External Windows Exec set to cmd.exe doesn't guarantee it isn't executed in powershell"
Even though my _Terminal>External Windows Exec_ is set to _C:\Windows\System32\cmd.exe_, it still appears to run in powershell, as running individual karate tests via the extension doesn't work. The same command fails in powershell for the same reason, while it works fine in cmd.exe.

[2020-04-09 16:22] kirksl commented on #35
@Techmaster21 hello.  can you try clicking 'Select Default Shell' in this image and set it to cmd.exe.  seems vscode has changed how you choose the default terminal.
![image](https://user-images.githubusercontent.com/24948266/78917358-9fc35e80-7a43-11ea-87e5-78464c861cdc.png)

[2020-04-10 13:47] Techmaster21 commented on #35
Yes, that worked, thanks! I created a pull request to update the documentation for changing default shell.

[2020-04-10 15:42] #35 closed

[2020-04-13 23:09] kirksl opened #37 "Explore adding "." to "Karate Jar: Command Line Args" default settings"

[2020-04-14 16:11] kirksl commented on #37
this was previously discussed and punted to avoid possible complexity around having to manage how this is implemented based on user OS.  to investigate further and gavel.

[2020-04-23 16:55] ptrthomas opened #38 "Debug should use the same CLI args defined and be consistent with Run"
I am using the following CLI, a custom classpath:
<img width="562" alt="image" src="https://user-images.githubusercontent.com/915480/80126611-f5a21580-85b0-11ea-94a2-837a72f14ae3.png">

When I `Run` all is good:

<img width="835" alt="image" src="https://user-images.githubusercontent.com/915480/80126838-25511d80-85b1-11ea-85cb-8aedf6c0ee56.png">

But not for Debug:
<img width="495" alt="image" src

[2020-04-23 17:13] kirksl commented on #37
moving to backlog for now.  may consider in the future if we can drive down complexity on this.

[2020-04-23 17:13] #37 closed

[2020-04-23 17:15] kirksl commented on #34
@dharmjit closing due to inactivity.  please reopen if renaming the jar did not solve your issue which is a pretty common solution for it.

[2020-04-23 17:15] #34 closed

[2020-04-28 04:26] varunpatil03 opened #39 "Not able to see Karate Runner Tests using Karate Runner"
Not able to run Karate Tests using Karate Runner
`[ERROR] No plugin found for prefix '.options=c' in the current project and in the plugin groups`

[2020-04-28 05:59] kirksl commented on #39
@varunpatil03 can you please describe the steps to reproduce this.  it sounds like a possible build configuration issue in maven or gradle

[2020-04-28 17:39] varunpatil03 commented on #39
Thanks for looking into this issue. Below is the pom I am using. Also, my work space has 2  maven projects. The one used for testing I am adding here. Can you please check.
`<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVe

[2020-04-28 19:16] kirksl commented on #39
@varunpatil03 i don't think this is a "karate runner" issue?  it appears to be a build system issue that you need to solve for maven.  i would suggest creating a pom.xml for maven via the steps here https://github.com/intuit/karate#quickstart or looking at examples within the karate github project eg https://github.com/intuit/karate/blob/master/karate-demo/pom.xml

closing this for now but please

[2020-04-28 19:16] #39 closed

[2020-04-29 03:05] kirksl commented on #38
@ptrthomas can you confirm that any command you set here
![image](https://user-images.githubusercontent.com/24948266/80557223-0ffe3980-898b-11ea-979e-6535d2a74e30.png)

will work by always suffixing it with -d switch.

if true this might be a simple fix as i can fetch it's value and add the switch.

[2020-04-29 03:51] ptrthomas commented on #38
@kirksl yes just suffixing with `-d` should be fine

[2020-04-29 04:38] kirksl commented on #38
@ptrthomas fixed.  delete your .vscode directory at the root of the project to setup  your debug configuration again.  https://github.com/kirksl/karate-runner/commit/326ae9d4d816d991d0467fd6ccc23dcfbd4d20ed

[2020-04-29 04:38] #38 closed

[2020-04-29 04:51] ptrthomas commented on #38
@kirksl great ! works fine 👍

[2020-05-02 00:02] kirksl commented on #33
fixed.  https://github.com/kirksl/karate-runner/commit/ddbfa94eba4d251a38e47f5849412d529201aa82

now if there is no debug configurations (ie no launch.json) and a user clicks on 'Karate: Debug' when they click on 'Karate (Debug)' launch.json will load with the initial karate debug configuration.

[2020-05-02 00:02] #33 closed

[2020-05-02 08:20] ptrthomas opened #42 "Support a new debugPreStep configuration parameter in launch config"
On the Karate debug-server side, I've added support for a pre-step hook. This is explained here:

https://github.com/intuit/karate/wiki/ZIP-Release#pre-step-hook

In fact it works without any change needed on the VS Code plugin side. I think the only change needed is to declare it, else you get the warning squiggle as seen below:

<img width="1096" alt="image" src="https://user-images.githubuserco

[2020-05-02 18:37] kirksl commented on #42
@ptrthomas nice additions.  ill try to get to this soon.  will Karate just ignore debugPreStep in the debug config if using a version of Karate that doesn't support it yet?  also can I document this will be in 0.9.6?

[2020-05-02 19:15] ptrthomas commented on #42
- yes it will be gracefully ignored
- yes should be in 0.9.6 for sure and planning 0.9.6.RC3 in a couple of days

[2020-05-02 21:40] impos89 opened #43 "Unable to use Runner on Windows"
Hi,

I tried to configure both debugger and Runner for my project. Debugger works fine, but when i try to use runner, then I see it does not take feature/scenario path
![image](https://user-images.githubusercontent.com/6552297/80892844-82de1c00-8ccd-11ea-8ad5-cb8c97e53608.png)
As you could see in attached screen the path is added, but test was not executed. When i tried to run this command manuall

[2020-05-02 21:43] impos89 commented on #43
OS: Windows 10

[2020-05-03 01:19] kirksl commented on #43
@impos89 can you try putting double quotes around your classpath.  i know windows and cmd.exe don't work well with single quotes.
![image](https://user-images.githubusercontent.com/24948266/80896257-7774fb80-8ca1-11ea-8161-809b20768a8c.png)

[2020-05-03 01:25] kirksl commented on #10
@aanutter this has been sitting for awhile and not seeing many requests for this.  nevertheless i'd like to tackle this in the future when we remove some of the entanglement such as getting this to work with debug configurations where many things are statically set today.

seems easy enough once we get this outside complexity out of the way.
https://stackoverflow.com/questions/6347985/cannot-run-m

[2020-05-03 02:25] kirksl commented on #42
now supported in debug configurations.  i left it out of the snippets though so a user would have to explicitly specify it by typing it in.  let me know if you think that is ok.  also didn't document anything about usage of the debugger.  there's so much to the debugger that i hoped users would goto the VSCode documentation the debuggers features to understand how to use it and all of it's feature

[2020-05-03 17:31] impos89 commented on #43
I checked it and it didn't helped.
Probably I could try changing terminal to wsl, but it's just a workaround. Thing that helped me was putting parameters to feature file in question marks.

Btw. What happen in situation when parameter has a space in directory name ? In that case parameter should be put between question marks to be considered as a single path.

[2020-05-04 03:01] kirksl commented on #43
your point is valid for paths with spaces.  it would be a good idea to wrap the path in quotes.  ill look into that to make sure it will consistently work on macos, linux and debug configurations.  im still curious why this is not working for you as we have thousands of people running without problems.  if you happen to have a sample project reproducing the problem and any other details that might

[2020-05-04 18:16] kirksl commented on #43
@impos89 this should be fixed.  looks like we were putting double quotes around the feature file and path for maven, gradle, but hadn't done it for the Karate Jar option yet.  please verify and let us know if this issue is not resolved.  https://github.com/kirksl/karate-runner/commit/3cf730bd6d38226dcac328e69bb42be56e6d2a97

[2020-05-04 18:16] #43 closed

[2020-05-06 14:11] kevinprotoss opened #46 "How to use jvm arguments while running karate tests"
Hello,

sorry for creating a question issue. However, I had tried several possiblities, such as `karateRunner.karateCli.commandLineArgs` or `karateRunner.karateJar.commandLineArgs`, neither works.
How could I define my own jvm arguments for running karate tests. For example, if I click the `Karate:Run` button in the feature file. I hope to add more arguments in the mvn command, e.g., `–Dkarate.env

[2020-05-06 17:46] kirksl commented on #46
hello.  we have future plans to enable better control of the command line for maven and gradle.  is setting your jvm args within your pom.xml an option for now?  https://stackoverflow.com/questions/39750348/how-to-add-vm-args-using-pom-xml-plugin

[2020-05-07 05:15] kirksl opened #48 "busy indicators timeout prior to tests finishing"
logic to validate task == null is not working

[2020-05-07 05:36] kirksl commented on #48
fixed https://github.com/kirksl/karate-runner/commit/b302e308e1d2685eb3aa4586f2b3c739867ae5ba

[2020-05-07 05:36] #48 closed

[2020-05-07 09:05] kevinprotoss commented on #46
Hi kirksl,

I have tried `<argLine>-Dfile.encoding=UTF-8</argLine>` of `maven-surefire-plugin` plugin. It works, however the solution is not so convenient. That means, I need to sync and commit this changed pom always in the repo, what I don't want to. It could happen, that some environments varibles contain the local file path. I think such configurations should be kept local in the workspace, su

[2020-05-07 15:50] kirksl commented on #46
thanks @kevinprotoss appreciate your high interest to get this fixed.  all your points are valid.  we'll try to fix this soon as it was already on our roadmap.

[2020-05-07 22:16] kirksl commented on #46
fixed.  https://github.com/kirksl/karate-runner/commit/97c6a13acffccbe656e357b5ff584eb794dec45b

[2020-05-07 22:16] #46 closed

[2020-05-16 05:53] kirksl opened #51 "Documentation updates"
Migrate details from change log to readme eg how auto selection of jar, maven, gradle works.

[2020-05-21 05:34] ptrthomas commented on #42
@kirksl I think you have a canned snippet for the `debugPreStep` can you please change the comma to a `+`, this is because I decided to change the API slightly, apologies

<img width="474" alt="image" src="https://user-images.githubusercontent.com/915480/82526880-b84e8a80-9b52-11ea-8a04-2d9cd1df1884.png">

since I'm here can I ask - have you documented the need to switch the terminal from "PowerSh

[2020-05-21 05:37] ptrthomas commented on #42
I'm going to paste some images here so that I can refer to them in wikis :)

<img width="989" alt="image" src="https://user-images.githubusercontent.com/915480/82527066-19765e00-9b53-11ea-8b47-7e5a12f8fced.png">

<img width="626" alt="image" src="https://user-images.githubusercontent.com/915480/82527097-3743c300-9b53-11ea-9ace-8802e3d077a1.png">

[2020-05-21 15:41] kirksl commented on #42
@ptrthomas no worries.  i'll reopen to reshape that canned code snippet.  regarding switching to cmd.exe yes it's at the bottom of the readme also reflected in the VSCode market place here -->
![image](https://user-images.githubusercontent.com/24948266/82576691-d4e0c780-9b3e-11ea-8730-7b85804f8679.png)

[2020-05-21 16:03] ptrthomas commented on #42
@kirksl thanks ! also one more minor change, omit the `robot.` it can just be:

`input(Key.ALT + Key.TAB)`

[2020-05-21 18:26] kirksl commented on #51
fixed.  https://github.com/kirksl/karate-runner/commit/5b251049a9090d103e770082bf4bc1cd4b53d81d

[2020-05-21 18:26] #51 closed

[2020-05-21 18:27] kirksl commented on #42
fixed.  https://github.com/kirksl/karate-runner/commit/5b251049a9090d103e770082bf4bc1cd4b53d81d

[2020-05-21 18:27] #42 closed

[2020-06-04 05:16] djangofan opened #53 "Problem loading JDBC driver while debugging Karate test."
Problem loading JDBC driver while debugging Karate test.

Instructions and steps to reproduce are described in this ticket:
https://github.com/intuit/karate/issues/1162

I simplified the instructions and the [example project I supplied](https://github.com/djangofan/karate-db-sample) to make it as easy as possible to reproduce.

[2020-06-04 15:58] kirksl commented on #53
@djangofan happy to take a look at this if you can help me pull down your example project repro'ing the issue.  when clicking the link above i get -->
![image](https://user-images.githubusercontent.com/24948266/83780086-8f91bf00-a641-11ea-98b9-cdefa5c608f9.png)

[2020-06-04 16:00] djangofan commented on #53
Fixed.  I had to change repo to be public because Github changed repos to default to private. :-(

[2020-06-04 16:58] kirksl commented on #53
no worries.  just pulled it down and ran the steps below.  seems to work?

1. ran mvn clean test and it works
2. opened mssql.feature and set breakpoint on line 10
3. clicked karate: debug codelens and it failed (see karate.debug.error image)
4. deleted launch.json under .vscode folder as launch config looks bad
5. created new launch.json using default karate (debug): maven config
6. clicked karat

[2020-06-04 18:08] djangofan commented on #53
Thanks @kirksl  , I see what you mean.

So, I have multiple test suites, and I am in the habit of saving multiple run configs in launch.json that I check-in to my projects so that other people can use pre-configured run configurations.

Here is an example of How I tried changing the run configuration, based on your suggestion above, to regenerate:

[code]

So, how does the new Run config know abou

[2020-06-04 18:23] djangofan commented on #53
Just FYI.  When I create a new launch config, using latest VSCode Karate-Runner, I do not see the option you describe in this step:

5. created new launch.json using default karate (debug): maven config

Can you clarify?

[2020-06-04 20:32] djangofan commented on #53
Ok, after I had established a `launch.json`, when I choose "add configuration" ONLY in that case do I see the option to add a "maven debug config".  Just FYI, if you want to fix that.

So, the auto-generated run config is:

`mvn test-compile -f \"${command:karateRunner.getDebugBuildFile}\" exec:java -Dexec.mainClass=com.intuit.karate.cli.Main -Dexec.args=\"-d\" -Dexec.classpathScope=\"test\" ${con

[2020-06-04 20:42] djangofan commented on #53
I uploaded a video that shows you what it looks like to me:
https://youtu.be/xsxoz4s7TpM

[2020-06-05 00:27] kirksl commented on #53
@djangofan let me know if this (image from the karate runner readme on the marketplace) solves your troubles.  sounds like it just wasn't clear how to setup your launch config?
![image](https://user-images.githubusercontent.com/24948266/83823336-a27bb200-a688-11ea-8fe6-feba392f898c.png)

[2020-06-05 01:20] djangofan commented on #53
I just read through that.  There is nothing there different that what I described as my steps to reproduce.   I've been using Karate every day since January.  No confusion there.

[2020-06-05 01:36] kirksl commented on #53
the problem is that you forgot to "pick" the maven debug configuration as shown in the red boxed step from the instructions.  what you did was just merely add it to the launch.json.  once added to the json you have to pick between all of the configs within that file via the dropdown that i've red boxed too.  let me know if that solves your problem.
![image](https://user-images.githubusercontent.co

[2020-06-05 01:39] kirksl commented on #53
@djangofan looks like you forgot to pick the maven debug config from the vscode dropdown.  you added to the launch.json but then you are left with multiple debug configs and left it set to the standalone config instead of the maven config.
![image](https://user-images.githubusercontent.com/24948266/83827255-b3312580-a692-11ea-911e-1dda59d3d78b.png)

[2020-06-05 04:35] djangofan commented on #53
Yes, good catch.  I didn't notice I did that in the heat of recording the video.    Here is what happens between those 2 Run Configurations:

1. The Karate (debug): Standalone -  hangs and finally gives up after about 30 seconds
2. The Karate (debug): Maven -  runs and at the end, in the "Debug Console" you can see the class loading error.

[2020-06-07 03:48] kirksl commented on #53
@djangofan for 1. that's expected.  standlone debug mode is only when you are using karate.jar not maven.  since it never finds karate.jar it times out.  for 2. i'm not repro'ing a class loading error.  see image.  if you're still repro'ing it please give me exact repro steps.  at this point this really doesn't seem like an issue with karate runner as it's merely just assembling commands on the co

[2020-06-07 03:56] djangofan commented on #53
kirksl:

2-3 weeks ago your runner worked with this same example code  but does not
work today.  i don’t know the exact day it stipped working.   do you have a
way that I can install the older plugin?   if so,  then i can verify the
regression.

ill record another video tomorrow that is much more detailed

-jon

On Sat, Jun 6, 2020 at 8:48 PM kirksl <notifications@github.com> wrote:

[2020-06-07 06:09] kirksl commented on #53
yes you can install any previous version
![image](https://user-images.githubusercontent.com/24948266/83961733-cd156880-a84a-11ea-9ded-cae0bb212e62.png)

[2020-06-08 01:40] djangofan commented on #53
Thank you.   Here is what I found today:

1.   Changing to the older Karate-Runner 1.8.6 didn't resolve the problem.   So, I went back to latest version.   Therefore, whatever this is, it's very possible it is not a regression.

2.  I tried using Gradle and did not get a different result.

3.  I tried switching to  JUnit 4 instead of Junit5 and it also didn't make a difference.

4.  I checked out

[2020-06-10 01:39] djangofan commented on #53
@kirksl  @ptrthomas   I finally figured it out.    The fix is related to:
http://www.kfu.com/~nsayer/Java/dyn-jdbc.html

Here is the exact change that fixed it for me:
https://github.com/djangofan/karate-db-sample/blob/e9e3a5d6fad8a5be9f75799405b48966f2552a49/src/test/java/qa/test/DbUtils.java#L36

SO, basically I believe Karate-Runner is perhaps forking away from the System Classloader and theref

[2020-06-10 02:27] ptrthomas commented on #53
<img width="503" alt="image" src="https://user-images.githubusercontent.com/915480/84220228-eee34980-aaef-11ea-8904-134e8997c647.png">

we start a new `Thread` - I don't think this code has changed ever since we started. feel free to investigate and suggest changes: https://github.com/intuit/karate/blob/develop/karate-core/src/main/java/com/intuit/karate/debug/DapServerHandler.java#L345

[2020-06-10 04:02] djangofan commented on #53
@ptrthomas   I am not completely sure.   My best guess is that in your Runnable,  which you named com.intuit.karate.Runner,  you pass `Thread.currentThread().getContextClassLoader()` at line 304    rather than `.getSystemClassLoader()` which basically results in the JDBC DriverManger denying the scan to load the driver??    I don't have a lot of the context to resolve this myself.    I bet if you

[2020-06-10 07:28] ptrthomas commented on #53
@djangofan I think you do. just use the developer guide and it will take you 5 minutes to confirm what change we need to make: https://github.com/intuit/karate/wiki/Developer-Guide

[2020-06-12 20:25] djangofan commented on #53
@kirksl   yes, i believe its more related to Karate .parallel execution.  I need to take some time to reproduce and ill make a new story on karate project when i am ready.

[2020-06-12 22:16] djangofan commented on #53
@ptrthomas I updated my example project so that it now has 2 karate tests in a `mssql.feature` file that reproduce both the bug and the workaround:  https://github.com/djangofan/karate-db-sample/blob/master/src/test/java/features/mssql.feature

My next step is to get your latest Karate code (develop branch), and wire up this above example on that code and then try to debug karate code locally to f

[2020-06-26 08:47] maxandersen opened #54 "call maven and gradle wrappers if available"
my system gradle / maven commands are not always same versions as the projects i'm using that have maven or gradle wrappers.

would be great if either automatically detect if reelvant to call `./gradlew`   than `gradle` and `./mvnw` instad of `mvn` or provide option to override per project.

Otherwise you end up like me not able to launch and get errors like this instead:
[code]

even though runni

[2020-06-27 19:49] kirksl commented on #54
fixed.  https://github.com/kirksl/karate-runner/commit/110b3f059e8c5d24a53eaa968296cd142d2f7ff2

[2020-06-27 19:49] #54 closed

[2020-06-28 06:58] maxandersen opened #56 "wrapper implementation assumes wrapper are in the path"
Thanks for #54, but the fix does not seem right.

it seems to just use `gradlew` instead of `gradle` and thus assumes `gradlew` is on the path.

It is not, it needs to be located by traversing upwards the directory hiearchy from the feature file until you find the nearest ./gradlew.

This file would be next to build.gradle thus I suggest when you detect wether calling mvn or gradle check if the wr

[2020-06-28 07:01] maxandersen commented on #56
note, I did find a way to work around it for now - install https://github.com/dougborg/gdub and `ln -s gw gradlew` then it will figure out the right gradle to use.

works but not exactly great ;)

[2020-06-28 16:17] kirksl commented on #56
@maxandersen replicated the issue.  works on windows, but mac/linux apparently require a "./" in front of "gradlew" or "mvnw".  i'll work on fixing this.  fyi we do traverse backwards from the feature file(s) you call until we reach either a pom.xml or build.gradle and use that as the folder we execute maven/gradle from.

[2020-06-28 17:03] kirksl commented on #56
@maxandersen please confirm if this fixed it for you.  https://github.com/kirksl/karate-runner/commit/388b0d6e1189d98a7743ddf15551bb93366ab772

[2020-06-28 19:08] maxandersen commented on #56
just saw this - checking...

[2020-06-28 19:18] maxandersen commented on #56
Yes, now it calls ./gradlew and things work better.

Now I'm just curious how to actually run the tests with current working directory being where the *.feature files are - in my case they are not part of the main java project but external features used to test the produce cli ...thus I kept it simple and don't require any mvn/gradle invocation.

any way to configure how karate is run (i.e. which

[2020-06-28 19:44] maxandersen commented on #56
one thing that is still a bit annoying is that it uses ./mvnw even when the project don't have a ./mvnw file.

Any chance the extension can just detect wether its present or not ?

[2020-06-28 21:23] kirksl commented on #56
can you tell me what happens when you try to run the tests with the current working directory being where the feature files are.  ultimately this extension doesn't care what the working directory is.  when you tell it to run a feature file it will start searching within that directory and then all parent directories if it has to until it finds either a pom.xml or build.gradle file.  once found it

[2020-07-06 17:32] kirksl commented on #56
@maxandersen closing this out as this is generally solved.  please open a new ticket if there's anything else still interesting to solve.

[2020-07-06 17:32] #56 closed

[2020-07-16 18:24] KostasKgr commented on #13
Hello @kirksl , something that I noticed looking good on the intellij highlighting is the highlighting of variables in a scenario outline.

Intellij:
![image](https://user-images.githubusercontent.com/13213567/87707914-8cdec980-c7aa-11ea-8b7e-4ec34818d82d.png)

VS Code:
![image](https://user-images.githubusercontent.com/13213567/87707942-98ca8b80-c7aa-11ea-9ea4-b5d016ed60d9.png)

[2020-07-16 23:04] kirksl commented on #13
thanks @KostasKgr agreed that looks nice.  sometimes user themes get in the way and try to set some of this stuff too.  eg image below coloring the angle bracket variable in the eval code but not in the table.  we'll see what we can do.
![image](https://user-images.githubusercontent.com/24948266/87730894-ec72b000-c77d-11ea-9daf-f24891b34b57.png)

[2020-07-24 09:14] MahatmaFatalError opened #59 "VSCode runner fails for running single scenario"
If I run a particular Scenario via the Run Codelens the mvn command fails for the default runner `_SyncRunner`:

[code]

My question: What is this `_SyncRunner` ?

If I run it with my junit5 test suite
[code]
surefire at least starts but fails as well:
[code]

An easy way to reproduce this on your side would be generate a sample project via [Maven quick-start](https://github.com/intuit/karate#quic

[2020-07-27 00:06] kirksl commented on #59
Hello.  _SyncRunner is the default value you should change to point to the Java file running your Karate tests.  It appears your Java file might be called KarateTestSuite.java?  If true when you click on a Codelens to run a test there will be a pop-up asking for the name of your Java file also known as your Karate Runner file.  Simply change it from _SyncRunner to KarateTestSuite.

Hope this helps

[2020-07-27 20:05] MahatmaFatalError commented on #59
@kirksl Yes, thats wath I thought, too. But I could not find documentation about the meaning of _SyncRunner.

Nevertheless, this bug is more about the `no features or scenarios found` error when run with a real junit runner when which leads to the maven command stated above with the `-Dkarate.options=myfeature.feature:${line number of the selected scenario}`.

[2020-07-28 18:00] kirksl commented on #59
@MahatmaFatalError great.  can you confirm that you can run your tests successfully when using KarateTestSuite instead of _SyncRunner.  or do you still get an error like 'no features or scenarios found'?

[2020-07-28 18:06] MahatmaFatalError commented on #59
@kirksl yes, I still get the error 'no features or scenarios found'

[2020-07-28 18:18] kirksl commented on #59
@MahatmaFatalError any chance you can post a sample project somewhere with the issue?  suspect this might not be related to this Karate Runner extension as it really just builds commands and fires them off.  happy to take a quick look.

[2020-07-28 19:44] MahatmaFatalError commented on #59
As mentioned initially it is reproducable with the sample project from [Maven quick-start](https://github.com/intuit/karate#quickstart) that can be generated vie maven archetype.
[code]

[2020-07-29 17:20] kirksl commented on #59
@MahatmaFatalError seeing lots of issues using that quick-start.  doesn't seem to work with classpath:linenumber which is what the KarateRunner extension uses.  i do know this in fact works as i have personal template projects in both maven and gradle that works.  just verified.

@ptrthomas can you recommend a template Karate project for Maven that works with Karate Runner?  i have plans to releas

[2020-07-29 17:24] ptrthomas commented on #59
don't have one. @MahatmaFatalError do consider contributing one please.

one suggestion is maybe use 0.9.6.RC4 - some CLI changes did go in

[2020-07-29 17:41] kirksl commented on #59
@MahatmaFatalError let us know if you continue to have trouble with the current suggestions.  If needed I can post a sample template project that is setup for both maven and gradle.

[2020-07-30 08:14] alirux commented on #59
I have the same issue as @MahatmaFatalError, with or without using the line number. For example, executing the whole feature:
<img width="546" alt="immagine" src="https://user-images.githubusercontent.com/31094105/88897923-57c38400-d24c-11ea-8af1-4c18b7450038.png">

I also upgraded Karate to 0.9.6.RC4 and used UsersRunner as the Karate Runner as suggested.
The karate project I used is generated by

[2020-07-30 13:13] MahatmaFatalError commented on #59
The error stays with karate 0.9.6.RC4.
I agree with @alirux, even running an entire feature `mvn clean test -Dtest=ExamplesTest -Dkarate.options="pathToProject/src/test/java/examples/users/users.feature"` fails as well. So it might not be related to the `classpath:linenumber` syntax.

[code]

Since I don't have any project where the karate-runner VSCode plugin works, it would be great if you can p

[2020-07-30 15:43] alirux commented on #59
@MahatmaFatalError, as a workaround, run directly the java class UsersRunner using "Run Test":

<img width="495" alt="immagine" src="https://user-images.githubusercontent.com/31094105/88943649-076c1680-d28c-11ea-8f80-f7f1794ffef7.png">

[2020-07-31 18:44] kirksl commented on #59
@alirux @MahatmaFatalError please see the sample template project i just posted.
https://github.com/kirksl/karate-maven-gradle

cc: @ptrthomas

[2020-07-31 19:13] alirux commented on #59
I have an error with maven:

mvn clean test -f "/Users/karate-maven-gradle/pom.xml" -Dtest=OrderRunner -Dkarate.options="/Users/karate-maven-gradle/src/test/java/org/company/order.feature"

Running org.company.OrderRunner
Failed to instantiate SLF4J LoggerFactory
Reported exception:
java.lang.NoClassDefFoundError: com/fasterxml/jackson/annotation/JsonMerge
	at com.fasterxml.jackson.databind.intros

[2020-07-31 19:23] kirksl commented on #59
@alirux please try pull the project down again and try.  github has a dependency bot that made a recommendation for a version change in the pom.xml that broke the project.  i've reverted that change and it works again.

[2020-07-31 20:21] kirksl commented on #59
closing ticket as this appears to be a project and/or build configuration issue unrelated to the karate plugin.  a karate template project proving this fact can be found at https://github.com/kirksl/karate-maven-gradle

[2020-07-31 20:21] #59 closed

[2020-07-31 21:52] alirux commented on #59
Now the project works.
But is it possible that the problem with the archetype project could be the JUnit version?
Your project uses JUnit4 whereas the archetype uses JUnit5.
I'm new to Karate but if I'm not wrong, the karate.options variable with features and tags are used only with JUnit4.

[2020-08-02 10:04] MahatmaFatalError commented on #59
@kirksl Thanks for providing the sample project.
@alirux Indeed, your hint is correct. It works with Junit4. However, after I switched the project to Junit5 if fails with
[code]

Please see this commit of my fork https://github.com/MahatmaFatalError/karate-maven-gradle/commit/d27fa9d67bc4a43086daee842ee6e1bb3f3b2668

[2020-08-03 04:15] kirksl commented on #59
@alirux @MahatmaFatalError upgraded template to support Java 11 LTS and JUnit 5.  https://github.com/kirksl/karate-maven-gradle

[2020-08-03 07:06] MahatmaFatalError commented on #59
Thanks for the fix. After briefly comparing both approaches it seems the main difference is the usage of `org.junit.jupiter.api.Test` annotation instead of `com.intuit.karate.junit5.Karate.Test` [annotation](https://github.com/intuit/karate#junit-5). Likely because of https://github.com/intuit/karate#junit-5-parallel-execution ?

As I do not want any parallelism this solution still seems strange t

[2020-08-03 07:24] ptrthomas commented on #59
@MahatmaFatalError I don't find it strange. just use a thread count of 1. I'll happy to hear your suggestions on how this can be made less "strange"

[2020-08-03 07:39] MahatmaFatalError commented on #59
@ptrthomas since there is no statement like "Limitations: `@Karate.Test` is not supported. Use xyz instead." in the documentation, it confuses users who are using this in itself valid annotation.

[2020-08-03 07:45] ptrthomas commented on #59
@MahatmaFatalError sure, feel free to submit a PR for the documentation. right now I don't understand the issue fully, personally I don't consider it a priority so it is a case where I hope the community can pitch in, else it will be status quo

[2020-08-25 01:47] tblakers opened #60 "Support for build.gradle.kts"
Kotlin Script is the future of Gradle, and it would be nice to support it. Looking through the code, it seems it could be as simple as allowing both "build.gradle" and "build.gradle.kts" as filenames?

[2020-08-25 23:00] kirksl commented on #60
@tblakers we can absolutely look into supporting this.  can you help me understand if there would be any changes to the gradle command line.  if the command line is identical i can update this pretty quick.

[2020-08-25 23:30] kirksl commented on #60
note to add kotlin alongside groovy snippets in readme.  @tblakers appreciate if you can check kotlin syntax.

// groovy
task karateExecute(type: JavaExec) {
    classpath = sourceSets.test.runtimeClasspath
    main = System.properties.getProperty('mainClass')
}

// kotlin
task("karateExecute", JavaExec::class) {
    classpath = sourceSets.test.runtimeClasspath
    main = System.properties.getProp

[2020-08-26 08:30] tblakers commented on #60
My gradle knowledge is a bit weak, but tasks are often registered as follows:

val karateTask = tasks.register<com.package.mytask>("karateExecute") {
  // setters go here
}

Would be happy to play around with an alpha build, or if its just a matter of adding another filename I can make the change myself and submit a PR

[2020-08-26 20:24] kirksl commented on #60
feel free to pull down the project and submit a PR.  i think you'll just need to search for files referencing string "gradleBuildFile".  commands.ts and helper.ts will need to be updated to additionally spec something like "gradleKtsBuildFile" and then all code referencing "gradleBuildFile" will need to accommodate "gradleKtsBuildFile".

let me know if you're comfortable doing this.  i can look in

[2020-08-28 00:52] blaisn opened #61 "In standalone mode, karate.jar must be at root of project"
I am using Karate-Runner plugin in VSCode and it appears that no matter how I play with the settings, CLASSPATH or commnand nothing works unless karate.jar is at the root of the project. Moving it to /bin for example, code lens has no effect within the editor.
In the settings:
    "karateRunner.karateJar.commandLineArgs": "java -cp 'karate.jar;./bin' com.intuit.karate.Main",
Has no effect.
Do you

[2020-08-28 00:56] blaisn opened #62 "Karate-Runner overides another useful plugin"
Karate-Runner overides "Cucomber (Gherkin) file support" VSCode plugin. The latter being very useful for syntax highlighting and auto-indentation. Since Karate-Runner only sytax highlight, I would prefer to keep the other one for this task and Karate-Runner to run/debug tests.
Is it possible to cancel the overide? Or include auto-indentation in Karate-Runner?

[2020-08-28 01:01] blaisn opened #63 "Improve the doc please"
For users who use the plugin standalone (without Maven or Gradle), it is pretty hard to find how to setup launch.json to configure the debug. I finally found it after hours of try and errors, in one of the videos, Please put this handy in your documentation!
Here is what works for me:
        {
            "type": "karate",
            "name": "Karate (debug)",
            "request": "launch",

[2020-08-28 12:55] sporkisfaster opened #64 "Publish to https://open-vsx.org to support VSCodium in the spirit of open source"
Currently the karate plugin does not appear in the plugins for [VSCodium](https://vscodium.com). The process to do so can be found here: https://github.com/VSCodium/vscodium/blob/master/DOCS.md#extensions-marketplace

[2020-08-28 16:20] kirksl commented on #64
@sporkisfaster thanks for the request.  i'd like to get some upvotes before making this part of our deployment process.  for a couple reasons.  this is extra process we don't want to take on unless there is good demand for it.  on the interim the VSIX can easily be downloaded and side loaded.  alternatively my vote is to just repoint to the marketplace where everyone is currently publishing to for

[2020-08-28 16:23] kirksl commented on #61
@blaisn can you describe why you need karate.jar in a location other than the root of the project.  we try to keep build.gradle, pom.xml and karate.jar at the root of projects for many reasons.  for detection by Karate Runner to know which tool you are using and to create a boundary at the filesystem level to determine where each project is when you have multiple projects loaded in the IDE.

[2020-08-28 16:27] kirksl commented on #62
@blaisn we looked into this previously and at that time there was no way to turn off syntax highlighting without removing the Karate Language from the plugin.  we will explore this again as the VSCode API is constantly evolving.  can you provide an example of what you are looking for with auto-indentation.

[2020-08-28 16:40] kirksl commented on #63
@blaisn can you describe what did not work with the default debug configuration settings.  it looks like you changed "karateCli" property to a hardcoded value for your specific use case and project setup.

[2020-08-28 20:55] blaisn commented on #63
You are right, I added the "-o" option to redirect the report output to a custom report folder. But it's working as well with the suggested
"karateCli": "java -jar karate.jar -d"

My point here is not that this config does not work, My point is that it should be given directly in the plugin page:
https://marketplace.visualstudio.com/items?itemName=kirkslota.karate-runner
Hence, it will avoid users

[2020-08-28 21:11] blaisn commented on #62
As I said, the VSCode plugin "Cucumber (Gherkin) Full Support"
https://marketplace.visualstudio.com/items?itemName=alexkrechik.cucumberautocomplete
does the trick with its default settings. For example, this extract was entered without indentation and upon saving, it was neatly auto-indented:
`Feature: Suite de tests pour api GET unité recherche avancée (champ code)

    Background:
        Given

[2020-08-28 21:20] blaisn commented on #61
It is a question of keeping the root of the project as clean as possible. In our node project, we have the standard kit of files:
package*.json
Dockerfile
.gitignore
.gitattribute
,eslintrc
...
And for those files, it is usual (and significant) to see them at the root.
But only for the karate suite, we have to add:
karate.jar  (kind of executable that could be hidden in/bin ou /lib or /jar)
karate

[2020-08-29 17:12] kirksl commented on #63
we will make a future improvement to link to Karate documentation from our documentation.  i believe you could have benefited from this link https://github.com/intuit/karate/tree/master/karate-netty#standalone-jar

[2020-08-29 17:50] kirksl commented on #62
i couldn't reproduce this problem.

can you clarify your steps to reproduce this including version numbers of VSCode and the extensions.
i uninstalled Karate Runner and the Cucumber extension still doesn't auto indent for me.  i'm using the latest versions of VSCode and extensions.

[2020-08-29 17:52] kirksl commented on #61
backlogging this for now.  the level of work to make this happen is high for little benefit.  i do see your point though and appreciate keeping things clean especially at the root.

[2020-08-31 00:47] kirksl commented on #62
@blaisn closing this issue as i've tested Karate Runner with other extensions and auto indentation still works.  i suspect the extension you referenced to auto-indent might be having trouble with indenting as it never worked for me regardless of having Karate Runner extension installed.

here is an extension that did work to auto-indent gherkin regardless of Karate Runner installed or uninstalled

[2020-08-31 00:47] #62 closed

[2020-08-31 00:48] kirksl commented on #64
closing and leaving on our backlog.  we'll revisit if there is enough demand for it.

[2020-08-31 00:48] #64 closed

[2020-08-31 00:49] kirksl commented on #61
closing and leaving on our backlog.  we'll revisit if there is enough demand for it.

[2020-08-31 00:49] #61 closed

[2020-09-06 01:39] kirksl opened #65 "Add intellisense, autocomplete, linting features"
Prior assessment revealed high cost to execute this work item.
Main cost is implementation against Karate's rich syntax and maintaining it over time.
This should periodically be re-assessed to examine factors to facilitate taking this on (eg increase in contributors, decrease in language churn, etc)
Ideally it would be great to have this detail defined in the core Karate project via a language/syn

[2020-09-06 01:39] #65 closed

[2020-09-06 04:16] ptrthomas commented on #65
for those interested in contributing to the core project see: https://github.com/intuit/karate/projects/3#card-22529505 - if we implement LSP support, it should work in VS Code (and even some other IDE-s)

[2020-10-05 13:05] hahampis commented on #39
@kirksl I have the same problem. I am on Windows, karate 0.9.3, karate-runner 0.9.3 using maven. The extension attempts to run the command:
`mvn test -f "c:\Users\hahampis\Github\path\to\pom\pom.xml" -Dtest=Path_to/My_Runner -Dkarate.options="c:\Users\hahampis\Github\path\to\my\feature\MyFeature.feature"`

and I get:

`[ERROR] No plugin found for prefix '.options=c' in the current project and in t

[2020-10-05 18:22] kirksl commented on #39
@hahampis can you try again with...
karate 0.9.6 and see if that solves the problem.

if still an issue can you verify the sample karate project here works on your machine (defaults to maven)...
i see errors when switching this project back to 0.9.3 and know karate has made fixes regarding paths so i would advise upgrading to a newer version than 0.9.3
https://github.com/kirksl/karate-maven-gradle

[2020-10-06 06:45] hahampis commented on #39
@kirksl thank you for your answer. Unfortunately the same error happens in the sample project. I don't have spaces in my file path...
It's okay, no big deal, just a shame I can't use this awesome feature to run karate tests!

[2020-10-06 16:12] kirksl commented on #39
@hahampis this sounds like an issue with your environment.  possibly versions you are using locally for some tools.  i'd suggest trying to use the version of maven included with the sample project.  you can try this by turning on the maven wrapper in karate settings.  see image below.  and or try running a similar command as i just did below from the sample project's root folder.

this works for m

[2020-10-07 06:49] hahampis commented on #39
@kirksl I tried using the wrapper, same result. I uninstalled my version of maven (downloaded through scoop package manager) and reinstalled it from the official .zip archive. Same results.
In any case, I can always fix it changing the quotes to include `-Dkarate.options`. For example with your command, If I run it this way:
mvnw clean test -f "c:\projects\karate-maven-gradle\pom.xml" -Dtest=Order

[2020-10-07 20:13] kirksl commented on #39
@hahampis sorry to hear this is still not working for you.  i'm happy to continue debugging this issue with you if you are interested.  i'd also like to find good documentation backing up how good support is when using quotes this way.  if it could be proven that maven supports this across many versions and it can be documented here i might be comfortable changing the plugin to enforce quotes this

[2020-10-08 06:13] hahampis commented on #39
@kirksl sure, let's continue debugging! Let me know what I can do to help.

[2020-10-08 16:02] borjamunozf opened #66 "Maven execution failure (wrong double quotes in Dkarate.options)"
Hello,

I've testing the extension but I could not run Karate with Maven. The error seems to be located in the position of the double quotes

Example:

Current execution: **FAIL** -` mvn clean test -Dtest=KarateTestRunner "-Dkarate.options=<PATH>/test.feature:8"`
Modified execution: **OK** - `mvn clean test -Dtest=KarateTestRunner -Dkarate.options="<PATH>/test.feature:8"`

[2020-10-08 19:04] kirksl commented on #66
@borjamunozf can you reproduce this with the sample project at
https://github.com/kirksl/karate-maven-gradle

checking the implementation of this and we only put quotes around the path after the equal sign, so i'm not quite sure how you're ending up with quotes around the whole thing.  i'd also be curious what the exact steps are you took to reproduce this and if you've modified any of the setting

[2020-10-08 19:34] kirksl commented on #39
@hahampis great.  i have a couple ideas.  for all of them i'd like to use the sample project i mentioned earlier as i know that works and i can test with it on my end at the same time that you do.
https://github.com/kirksl/karate-maven-gradle

first thing i'm wondering is it possible to do a clean install of vscode and karate runner extension?  meaning uninstall vscode, delete all of the extension

[2020-10-09 07:28] borjamunozf commented on #66
My fault, sorry. As you say, you put quotes around the path after the equal sign, I mean the example backwards, as:

Current execution: **FAIL** - `mvn clean test -Dtest=KarateTestRunner -Dkarate.options="<PATH>/test.feature:8"`

Modifed execution: **OK**  - `mvn clean test -Dtest=KarateTestRunner "-Dkarate.options=<PATH>/test.feature:8`"

In fact, the line of that file its what we've been looking

[2020-10-09 15:23] kirksl commented on #66
@borjamunozf someone else reported this a few days ago.  can you see if any of the suggestions to resolve this fix the issue for you.  look at about 4 days ago in this ticket https://github.com/kirksl/karate-runner/issues/39

cc: @hahampis

i'm really curious why this is happening as the official documentation i've found for maven mentions to put the quotes around everything after the = sign.  i d

[2020-10-09 15:25] kirksl commented on #66
@ptrthomas appreciate any insight you have on this.

[2020-10-09 16:59] ptrthomas commented on #66
not much, I've also had this question come up (very rare though) and I can't find the threads on stack overflow

but I found this: https://stackoverflow.com/a/7515282/143475

[2020-10-10 02:57] kirksl commented on #66
@ptrthomas
thanks.

@borjamunozf
@hahampis
i've decided to take a calculated risk and make this change.  i tested against all versions of maven going back to 2015 and wrapping "-Dkarate.options=value" in quotes seems to work.  https://github.com/kirksl/karate-runner/commit/be51c66a46cc4d035d758fc4955142864667b43e

please update your version of karate, try again and let me know if this is fixed.

[2020-10-10 02:57] #66 closed

[2020-10-10 09:33] hahampis commented on #66
@kirksl I tried 0.9.4 today and it was the same story. BUT: I discovered that if I select "cmd" as default terminal in VSCode, then it works! So it has something to do with powershell... maybe it adds some quotes of its own internally somewhere? The full command being executed as reported by VSCode is:
`C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -Command mvn clean test -f "c:\Users\

[2020-10-10 12:10] ptrthomas commented on #66
yes powershell - some of my findings are here: https://github.com/intuit/karate/wiki/Karate-Robot-Windows-Install-Guide#change-default-shell - so maybe try single-quotes

quote:

[2020-10-10 12:31] ivangsa opened #68 "Show debug variables as json (instead of strings)"
Hi,

when debuging, on a breakpoint..

is it posible to show debug variables as _expandable_ json objects?

currently I can only see them a json string with makes it harder to debug...

Thanks

[2020-10-10 17:37] kirksl commented on #66
apologies i should have remembered powershell as a possible suspect in all of this.   there is a ticket on the backlog to consider supporting this.  https://github.com/kirksl/karate-runner/issues/10

if we get enough requests and votes for it we might consider it.

[2020-10-11 06:50] kirksl commented on #68
@ptrthomas wondering if this is something controllable from the DAP implementation when IDE requests variable info for stack frame?

https://microsoft.github.io/debug-adapter-protocol/specification#Types_Variable

[2020-10-11 07:32] ptrthomas commented on #68
I think so, and I think `supportsValueFormattingOptions` and `VariablePresentationHint` which we don't set today has to be switched on. I'm busy with that rewrite which will anyway impact the debug adapter so will get around to it eventually. but any analysis / trial in the meantime would help

[2020-10-11 15:35] kirksl commented on #68
@ptrthomas great.  thanks for confirming.
@ivangsa closing and solutioning for this can be tracked at https://github.com/intuit/karate/issues/1281

[2020-10-11 15:35] #68 closed

[2020-10-11 15:37] kirksl commented on #60
@tblakers curious if you've had a chance to look at this.

[2020-10-15 08:41] NehalDamania opened #69 "Get the following failed to execute goal maven-surefire-plugin Error"
When using Karate-runner on vs code, with maven project

I am always getting the following error:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test (default-test) on project api_specs: No tests were executed!  (Set -DfailIfNoTests=false to ignore this error.) -> [Help 1]
[ERROR]

However,
when I run the test using VSCode Java Test Runner Plugin, it runs fin

[2020-10-15 16:17] kirksl commented on #69
@NehalDamania i suspect you might have to update your automation project.  can you take a look at our sample/demo project which works with the plugin and confirm that it works on your machine.  if it does i would compare how it differs from your project and update it.  let us know if you are unable to resolve this.

sample project
https://github.com/kirksl/karate-maven-gradle

[2020-10-15 17:31] NehalDamania commented on #69
Hi @kirksl , thanks a lot for the quick response. The above sample project 'karate-maven-gradle' is working fine. When running Karate Tests in the sample project in VS Code it shows "OrderRunner" in the VSCode popup as a choice for Karate Runner. However, in my project it does not show the TestRunner that is created exactly same as the OrderRunner from the sample project, instead it shows '_SyncRu

[2020-10-15 18:01] NehalDamania commented on #69
Ok. I got it running.
It was due to _SyncRunner configured by VS Code initially.
I changed the settinsg.json in the .vscode directory of the project to
[code]
And it ran fine. Thanks @kirksl for the wonderful plugin. I don't know however, how did the vscode set the karateRunner.karateRunner.default to "_SyncRunner" initially. Might be because I didn't have a runner created till then. But, changing

[2020-10-15 22:33] kirksl commented on #69
great happy this is working for you and thanks for the feedback.  _SyncRunner is just a default value the plugin uses.  there's no great way detect what java runner file the user wants to use so we left it for the user to specify.

[2020-10-15 22:33] #69 closed

[2020-10-15 22:56] tblakers commented on #60
Sorry I haven't been working with Karate over the previous couple months, maybe I'll have a chance to look at this over next month, but no promises

[2020-10-16 15:59] kirksl commented on #60
no worries.  thanks for the update.

[2020-10-20 16:13] agentHoover opened #70 "Maven archetype project debug fails with "Timed out waiting for debug server to start""
I create a new maven project using the karate archetype.  I followed [the instructions](https://github.com/kirksl/karate-runner#debugger-1) for creating a launch.json configuration for maven but when I try to start a debug session from the code lens link in the `users.feature` example test it eventually times out waiting for the debug server to start.  Is there something I am missing here to get t

[2020-10-21 16:23] kirksl commented on #70
@agentHoover can you try reproducing this problem with the example project here.  https://github.com/kirksl/karate-maven-gradle

[2020-10-21 22:50] agentHoover commented on #70
@kirksl Well, the short is yes, sort of.  But with some more experimentation I was able to get it to work intermittently.  After quite a bit of tinkering I have been able to reproduce this consistently with the following scenario.
1. Open VSCode
2. Open feature file
3. Debug feature file from codelens. (debug is successful)
4. Run feature file from codelens (note I have override karate runner enab

[2020-10-30 16:14] lhimo commented on #53
@djangofan I get the same error, did you manage to fix it?

[2020-11-02 18:18] lhimo opened #71 "“driver config / start failed” on debug UI automation test"
Running the example file [here ](https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/driver/demo/demo-01.feature) in VSCode goes on without error. But when i launch it in debug mode I get the following:

[code]

What's wrong with my set up?

[2020-11-15 17:10] peterquiel commented on #60
Support will be added with:
#72

[2020-11-17 08:18] tongilcoto commented on #70
Hi, I arrive here looking for an answer for the opposite problem. I can not run "Debug" Codelens from "karate-demo" project inside "karate" repo.
In any case, I have run the example project for "karate-maven-gradle" repo and I got this error when running "Debug" Codelens (java jdk 11)

[code]

When running "Run" CodeLens, it success

[2020-11-17 09:16] tongilcoto commented on #70
My problem with "Debug" CodeLens it is not just it is not detecting the debug server, but not getting the localhost:8080 url

Following my investigations around "karate-demo" project at "karate" repo, this is the log following @agentHoover procedure

[code]

Same as previous, when running "Run" CodeLens, it successes

[2020-11-17 19:20] kirksl commented on #70
@ptrthomas appreciate it if you can confirm why this error might be occurring for @tongilcoto .  if i rename pom.xml in the project below to force gradle, debug server is working just fine.  suspecting either the maven command or pom.xml might be an issue?  i tried to add the plugin in the error and that did not resolve the issue.

calling command
mvn test-compile exec:java -e -Dexec.mainClass=com

[2020-11-18 08:02] ptrthomas commented on #70
@kirksl pretty sure that parent pom in your project is to blame, you never see this with other maven projects

this needs some digging. can you try to create a pom without the parent pom / bom - it is possible and needs you to explicitly list versions etc, this is an example: https://github.com/intuit/karate/blob/master/examples/consumer-driven-contracts/payment-producer/pom.xml

[2020-11-18 20:00] ivangsa commented on #61
Hi

We made this work for us: with a maven project we use `mvn dependency:copy-dependencies` to download karate and all dependencies to target/dependency and then configure this setting:

`"karateRunner.karateJar.commandLineArgs": "java -Dkarate.env=local -cp \"target/classes;target/test-classes;src/test/resources;target/dependency/*\"  com.intuit.karate.cli.Main"`

In this way code lens "Karate D

[2020-11-23 04:42] kirksl commented on #60
@tblakers support for kotlin has been added to karate plugin 0.9.5.  please let us know if you have any further issues.
@peterquiel many thanks for the help with this.
https://github.com/kirksl/karate-runner/commit/764922069508c29d96e9f9bfa58b59a1b4ecbb93

[2020-11-23 04:42] #60 closed

[2020-11-23 05:04] kirksl commented on #70
@ptrthomas many thanks the parent spring boot pom was indeed causing a problem.
@tongilcoto please try the 'karate-maven-gradle' project again.  i was able to update pom.xml to enable "karate: debug" to work under the following conditions
1. update your karate command line to run in env=stg
![image](https://user-images.githubusercontent.com/24948266/99930477-0319ac80-2d06-11eb-8e1e-646c1f470cef.pn

[2020-11-23 05:05] kirksl commented on #70
@agentHoover please see my prior comment.  hoping this well help resolve your initial issue as well?

[2020-12-05 05:50] ptrthomas commented on #68
@ivangsa ok, so we need your help now. you can see commit above that tries to "guess" what the solution should be: https://github.com/intuit/karate/commit/43c8a903b36b386263322bdc854635a430d24dd3

didn't seem to work. but by the way, note that when you right click on a variable and say "copy value" to clipboard, you get it pretty-printed

<img width="372" alt="image" src="https://user-images.githu

[2020-12-05 12:59] ivangsa commented on #68
ok, I will have a look into this because vscode supports this for other debugers, this is what I mean:

![image](https://user-images.githubusercontent.com/1246876/101243599-ac4aa480-3701-11eb-9e7e-e6ad53521f94.png)

as you can see all variables can be expanded, as an structured tree... they are not just text..
this is very common in every debugger I have used

[2020-12-05 13:40] ptrthomas commented on #68
@ivangsa ok. btw if you use slack: https://twitter.com/KarateDSL/status/937271659785961477

[2020-12-25 06:19] kirksl commented on #70
closing due to no response.  please open new issue if this is still a problem.

[2020-12-25 06:19] #70 closed

[2020-12-27 07:53] ptrthomas opened #75 "[discuss] test-execution progress reporting and changes in karate 1.0"
a few things to keep track of:

* in the long term `com.intuit.karate.Main` will be the only CLI, for now `com.intuit.karate.cli.Main` exists for backwards compatibility
* no more cucumber reports
* the reports directory is going to default to `target/karate-reports`
* if it already exists, karate will rename the existing dir to `target/karate-reports-<timestamp>` - I'm not sure what impact this h

[2020-12-27 21:46] kirksl commented on #75
@ptrthomas thank you for the update.  when do you anticipate all of this being released?

i was also thinking about this recently especially your last bullet point about tracking execution progress.  a suggestion was recently made (referencing the link below) to use the Karate RuntimeHook to enable similar capabilities to the vscode ide.

curious what you see as pros/cons with RuntimeHook approach

[2020-12-28 03:44] ptrthomas commented on #75
@kirksl I'm thinking this goes live mid jan-2021

the intent for `karate-progress-json.txt` is only to solve for rendering a progress-bar *during* test execution in VS code, I think we had discussed this some time back. so to show the number of features left as a progress-bar.

so the question is - is it possible to render a progress bar and if this is important. else I would de-prioritize this

[2020-12-28 23:56] kirksl commented on #75
@ptrthomas yes we are actually rendering a progress bar today, but it is more of a spinner at the top of the "Tests" view in the extension.  shown here https://recordit.co/7DnQGfyzty

we would definitely like to enhance this spinner to compete with other IDEs that show test execution progress(eg webstorm, intellij, etc)

featuresRemaining will work and definitely suffice for now.  the only side ef

[2020-12-29 00:28] kirksl commented on #63
closing.  this work is complete and will be included in our next release.

[2020-12-29 00:28] #63 closed

[2020-12-29 03:37] ptrthomas commented on #75
@kirksl yes writing to the same json file is working. we try to lock it but don't wait and move on

[2020-12-29 04:39] kirksl commented on #75
@ptrthomas great.  let me know if you need more feedback.  also when there is a viable branch to test the noted changes.

[2020-12-29 05:29] ptrthomas commented on #75
@kirksl actually you should be able to test this in karate `develop` right now

[2020-12-29 06:54] kirksl commented on #71
@lhimo apologies for the delay.  is this still an issue?

[2020-12-30 02:55] kirksl commented on #75
@ptrthomas built develop locally per dev guide.  set pom.xml to 2.0.0 in test project.  getting "cannot find symbol" errors on build.  eg ExecutionContext, ScenarioContext, ExecutionHook, ScenarioResult, Resource

is this expected?  noticed karate-apache is not built now as well which i was referencing.

[2020-12-30 03:17] ptrthomas commented on #75
@kirksl there's no more karate-apache, just remove it from any dependencies: https://github.com/intuit/karate/wiki/1.0-upgrade-guide#breaking-changes

[2020-12-31 23:51] kirksl commented on #75
@ptrthomas thanks for the guide.

nearly complete updating the demo project in my repo to conform to karate 1.0.  wondering are mocks supposed to be setup via Runner.clientFactory( ) now?  if yes can you suggest best design to handle env detection and conditionally setting up mocks.  link below is what we have done in the past.  single runner, user spec's karate.env, if "dev" setup mock in karate-

[2021-01-01 02:36] ptrthomas commented on #75
@kirksl  you mean the mock-servlet right

* so now this is pure java
* has to be constructed before calling the `Runner`
* you have to use the `Runner` class and builder and call the `clientFactory()` method
* since you know the environment when you call the `Runner` (note the new `karateEnv()` method) you can now perform the conditional logic in the Java code of the JUnit test

example: https://g

[2021-01-03 00:11] kirksl commented on #75
@ptrthomas thanks.  i saw that example and was coding to it.  thanks for confirming.

i am seeing a possible bug where one of the hooks are not being called with the RuntimeHook.

eg
`
Runner.Builder rb = Runner.builder();
rb.path("classpath:org/company");
rb.tags("~@ignore");
rb.hook(new KarateHook());
Results results = rb.parallel(1);
`

these hooks are getting called
beforeScenario
afterScenari

[2021-01-03 05:47] ptrthomas commented on #75
@kirksl good catch, thanks now added

[2021-01-04 10:05] hahampis commented on #10
Hello, just a tip: I am on VSCode version 1.52.1 and there is now a setting called `Automation shell: Windows` which is different from the already existing `Shell: Windows` setting (I don't know when this setting was first introduced). I have set the Automation shell to `cmd` for the Karate runner extension to run properly and the generic shell to `powershell`  for new terminals I open for myself.

[2021-01-04 21:43] kirksl commented on #10
@hahampis nice.  thanks for helping to solve this.  i'm going to re-open this and add this as one of our options.  we plan to fix this in our next release in our next release to support the upcoming karate 1.0.0 release.

[2021-01-04 22:46] kirksl commented on #75
@ptrthomas posting some updates to your initial list...

in the long term com.intuit.karate.Main will be the only CLI, for now com.intuit.karate.cli.Main exists for backwards compatibility
`when do you plan to drop backwards compatibility support?  i'll keep the old reference for now to avoid breaking people.`

no more cucumber reports
`no change needed in extension.  i will remove all references

[2021-01-05 04:17] ptrthomas commented on #75
@kirksl `i need a way to calculate a "% of completion"`
can you start by trying to extrapolate the `featuresRemaining`. in practice it seems to stabilize after the first few tests kick off and all "tagged" scenarios are in the queue. and once you suggest an algorithm, I don't mind putting it in the karate / server side to make it simpler for everyone

[2021-01-06 17:52] karatekid5088 opened #76 "Override report directory of Debug mode"
Hello,

I am using your plugin with Gradle. Tests execute no problem but my question relates to test result output.

When I kick off tests via the Run flow, the test-result output goes to '/build' (all good).

When I kick off tests via the Debug flow, the test-result output **goes to '/target' instead of /build**.
Like so:

![test-result-output](https://user-images.githubusercontent.com/33551259/1

[2021-01-08 13:21] #76 closed

[2021-01-08 13:23] karatekid5088 commented on #76
Just realized that the files were indeed going to the right directory! There was a strange glitch on my local setup where the /target directory from previous run was not being "cleaned".

Sorry about that.

[2021-01-09 03:33] kirksl commented on #75
@ptrthomas i've implemented the code in the extension to track test progress.  i was unable to test as the results file is unfortunately always reporting "0" remaining.
![image](https://user-images.githubusercontent.com/24948266/104082135-5e392d00-51e8-11eb-9011-a1711b2a90db.png)

[2021-01-09 05:10] ptrthomas commented on #75
@kirksl I put a log statement in `Suite.saveProgressJson()` and it seems to work fine

[2021-01-13 17:58] lhimo commented on #71
@kirksl Hi, I'm trying again but now I get "timed out waiting for debug server to start"

Here is my launch.json:
`{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "type": "kar

[2021-01-18 21:43] kirksl commented on #10
@aanutter we released 0.9.6 today which disregards the user's personal console selection(eg cmd, powershell) on windows.  internally the extension runs everything with cmd.exe.  happy to hear your feedback and if you still think powershell specific support is needed.  https://github.com/kirksl/karate-runner/commit/0e365d886a90ea50cd53f3be46cc484de5f92203

[2021-01-24 21:28] danielpp77 opened #78 "Unable to start debug server in VSC, Windows 10"
Hi, I have followed the instructions to set up Karate on VSC, with the robot and Karate Zip. I am able to run the examples in the zip when I run Karate directly.  But when I try to debug using VS Code and the standalone jar I keep getting the error that the server cannot start because it times out. I have tried cleaning up VS Code and installing Karate plug in only, Java JRE 1.8 version, disabled

[2021-01-25 21:44] kirksl commented on #78
@danielpp77 can you try my attachment.  i can open this, set a breakpoint on a 'print' statement and the debug server starts and breaks as expected.  i've tried with java 8 and 11 lts.
[karate-jar.zip](https://github.com/kirksl/karate-runner/files/5869839/karate-jar.zip)

[2021-01-25 21:44] kirksl commented on #78
cc: @ptrthomas

[2021-01-29 05:50] kirksl commented on #10
closing due to no response, additionally we've resolved issues related to users with powershell as their default.  the extension disregards user defaults and always runs with cmd.exe.

[2021-01-29 05:50] #10 closed

[2021-01-29 05:56] kirksl commented on #71
@lhimo it looks like you are using the "karate debug: standalone" debug configuration which requires karate.jar.  it looks like the code you are trying to debug however uses pom.xml so you should choose the debug configuration "karate debug: maven"

also if you want to try another demo project I maintain this one
https://github.com/kirksl/karate-maven-gradle

[2021-02-28 02:43] kirksl commented on #78
closing due to no activity.  please open a new issue if this is still a problem.

[2021-02-28 02:43] #78 closed

[2021-02-28 02:44] kirksl commented on #75
@ptrthomas please let me know if you'd like to keep this open.  i've updated the karate runner plugin to support the current state of karate 1.0 which is also released and ready in the vscode marketplace.

[2021-02-28 02:47] kirksl commented on #71
closing due to no activity.  please open a new issue if this is still a problem.

[2021-02-28 02:47] #71 closed

[2021-02-28 02:48] ptrthomas commented on #75
@kirksl oh thanks - this can be closed, I think all the items have been covered !

[2021-02-28 02:48] #75 closed

[2021-03-25 01:50] kirksl commented on #13
closing.  most issues have been resolved at this time.  please open new tickets for any remaining issues.

[2021-03-25 01:50] #13 closed

[2021-03-26 11:33] hahampis opened #83 "java.nio.file.InvalidPathException: Illegal char <:> when using karate runner with Junit5"
I have setup the sample project as described [here](https://github.com/intuit/karate#quickstart). I can run `users.feature` from VSCode using both Runners, `UsersRunner.java` and `ExamplesTest.java`. However, trying to run it with Karate runner extension I get:

[code]

The executed command as reported by VSCode is

[code]

However, if I copy this command and add `classpath:` after the `=` sign in

[2021-03-30 02:39] kirksl commented on #83
@hahampis sorry for the delay.  i've been told that quickstart project might be out of date.  i also get the same error even when specifying `classpath`.  can you try the sample project here https://github.com/kirksl/karate-maven-gradle

i suspect this is a project configuration issue as the project i'm pointing you to works.

[2021-03-30 07:03] hahampis commented on #83
@kirksl indeed, this one works.. thank you!

[2021-03-30 07:04] #83 closed

[2021-04-02 10:35] hahampis commented on #83
@kirksl FYI I did some more digging on this since I couldn't let it go 😆
I discovered that the error occurs when using the `@Karate.test` annotation from `com.intuit.karate.junit5.Karate` class. That's what's used in the quickstart project by default. On the other hand, in karate-maven-gradle project the `@Test` annotation from `org.junit.jupiter.api.Test` is used and the karate-runner extension w

[2021-04-05 03:46] kirksl commented on #83
@hahampis nice find.  you might want to ask @ptrthomas about this and determine if there might be a bug?

[2021-04-05 03:53] ptrthomas commented on #83
I would first ask if this still happens in 1.0, not what I consider a priority so I would look to the community for fixes. the JUnit runners exist only as a convenience for Java IDE-s: https://stackoverflow.com/a/65578167/143475

[2021-05-15 13:09] sahilaug opened #85 "Ignored scenarios should not be displayed in the Tests View"

[2021-05-21 05:35] kirksl commented on #85
@sahilaug is your preference to hide the files and directory structure too if everything is set to "@ignore" beneath it?  that will incur a high compute cost as every file will have to be opened and parsed for the entire project.  large projects could really suffer and the compute cost will occur every time a node is expanded as well as the tree has to redraw itself.

also just a note one way to e

[2021-05-25 08:06] sahilaug commented on #85
@kirksl I understand the edge case you mentioned, I feel the react virtualised list (which I believe the vscode treeview uses under the hood) should take care of the redrawing, that's a solved problem in the frontend world IMO. But yes, there will be a one-time compute cost in parsing the feature files, which I believe we are already doing because we have to parse scenarios inside a feature file a

[2021-05-25 15:05] pantoniotti opened #86 "Debug Server fails to start (timeout)"
Hi there,
I am using the Karate Runner everyday and it's really a cool piece of software. Unfortunately I never got to make it to work in Debug mode. here is my launch.json file, and the error I get when I try to run the Debugger.
Karate 0.9.6 with Maven

`{
      "type": "karate",
      "name": "Karate (debug): Maven",
      "request": "launch",
      "feature": "${command:karateRunner.getDebugFi

[2021-05-25 18:13] kirksl commented on #86
@pantoniotti hello.  i was able to successfully debug maven with karate 0.9.6 using a demo project we use to test the karate runner extension.  https://github.com/kirksl/karate-maven-gradle

i cloned that project
checked out the last version with 0.9.6 support here: git checkout a770a9361396a249456a3f2d5b59ff0a8fab9481
updated the karate-config.js to use 'stg' environment to avoid using mocks (mav

[2021-05-25 18:50] pantoniotti commented on #86
Hi Kirk, It helps !!! and worked right away once I added all the springboot stuff in the pom.xml :wink:
Unless I am mistaken the karateRunner doc does not mention anything about a server being required to run for Debug to work … Maybe you could add as example a link to the project you just sent me ? :wink:
In any case, Thanks a lot!!

[2021-05-25 18:50] #86 closed

[2021-05-29 00:34] kirksl commented on #85
@sahilaug i've improved the experience.  the treeview will show "ignored" string next to any feature, scenario, scenario outline if annotated with "@ignore".  when ignored the "run" and "run all" icons/commands will be hidden in the treeview as well.  finally in settings you can choose to hide the ignored tests too.

note this was a quick fix and could be further improved to hide parent folders as

[2021-05-29 05:37] sahilaug commented on #85
@kirksl Thanks for the quick fix. Tested it out, works as expected. It worked fine in a mid-sized project with around 500 scenarios (I checked the refresh button as well).
`treeItem.description = 'ignored'` adds a nice touch which I believe achieves the original intention of giving feedback to the user.
Removing it from the treeview altogether would certainly be a cherry on top. I usually have reu

[2021-05-29 16:33] kirksl commented on #85
@sahilaug happy to help.  you can hide *.feature files and their tests from the tree.  see attached images.  i did not hide parent folders as it seems like compute cost is rising faster than i would like.  perhaps a better code design would solve that.
![hide from tree no](https://user-images.githubusercontent.com/24948266/120077774-e2d5fc00-c060-11eb-8c4d-6ba1371e347d.png)
![hide from tree yes](h

[2021-05-29 16:33] #85 closed

[2021-06-10 07:28] vista3344 opened #88 "issue about standalone karate jar and karate-runner"
I use karate standalone jar release in vscode with karate-runner, windows 10
First, I put karate jar and batch file in the root path of vscode workspace, codelens works very well;
Then I move these karate release files to another folder , and  add this path to system environment variable - path (no cannot approach class error);
Finally, codelens of running test does not response to click; debuggin

[2021-06-11 20:32] kirksl opened #89 "HTML build reports fail to open in browser with latest VSCode release"
HTML build reports fail to open in browser with latest VSCode release

Appears related to latest security enhancements to the IDE and 'file' URI scheme being treated differently

[2021-06-11 20:35] kirksl commented on #88
@vista3344 yes this is a hard limitation with the plugin for now.  This aligns with pom.xml and build.gradle needing to be at the root of projects to signal Maven or Gradle is in use.  Backlogging this for now and we'll definitely revisit this if we can elegantly solve this.  Not sure what to make of the empty karate.jar file, it definitely tricks the extension and guessing it still works due to n

[2021-06-11 20:35] #88 closed

[2021-06-23 17:52] kirksl commented on #89
Fixed in milestone 1.0.4

[2021-06-23 17:55] kirksl opened #90 "Optimize Tests and Reports views"

[2021-06-23 17:55] kirksl commented on #90
Fixed in milestone 1.0.4

[2021-06-23 17:56] kirksl opened #91 "Switch Karate Runner settings to open Workspace view"

[2021-06-23 17:56] kirksl commented on #91
Fixed in milestone 1.0.4

[2021-06-23 17:58] kirksl opened #92 "Add `Display Tags` action to Tests views within Activity Bar"
Aggregate and run tests based on tag annotations

[2021-06-23 17:58] kirksl commented on #92
Fixed in milestone 1.0.4

[2021-06-25 23:47] kirksl opened #93 "Karate: Run and Karate: Debug fail when used from Example table hovers"

[2021-06-29 13:46] VNair12101992 opened #94 "runner not stopping at debug breadkpoint"
Hello,

I am using karate debug for my test cases. Below are the configurations

**launch.json**
{

    "version": "0.2.0",
    "configurations": [
        {
            "type": "karate",
            "name": "Karate (debug)",
            "request": "launch",
            "feature": "${command:karateRunner.getDebugFile}",
            "karateOptions": "",
            "karateCli": "${config:karateRunn

[2021-07-01 23:02] kirksl commented on #89
https://github.com/kirksl/karate-runner/commit/aff29b6304928a329f00d685a400e41f688a3196

[2021-07-01 23:02] #89 closed

[2021-07-01 23:02] kirksl commented on #90
https://github.com/kirksl/karate-runner/commit/aff29b6304928a329f00d685a400e41f688a3196

[2021-07-01 23:02] #90 closed

[2021-07-01 23:02] kirksl commented on #91
https://github.com/kirksl/karate-runner/commit/aff29b6304928a329f00d685a400e41f688a3196

[2021-07-01 23:02] #91 closed

[2021-07-01 23:02] kirksl commented on #92
https://github.com/kirksl/karate-runner/commit/aff29b6304928a329f00d685a400e41f688a3196

[2021-07-01 23:02] #92 closed

[2021-07-01 23:02] kirksl commented on #93
https://github.com/kirksl/karate-runner/commit/aff29b6304928a329f00d685a400e41f688a3196

[2021-07-01 23:02] #93 closed

[2021-07-01 23:05] kirksl commented on #94
@VNair12101992 please try the latest release (1.0.4) of karate runner.  if still an issue greatly appreciate it if you can provide a minimum project that we can use to reproduce the problem.

[2021-07-02 17:27] kirksl opened #96 "karateRunner.paste command not found when attempting to use paste shortcut"
this started occurs when extension has not been activated yet
need to update karateRunner.paste when clause to ensure extension is activated

[2021-07-02 17:30] kirksl commented on #96
https://github.com/kirksl/karate-runner/commit/ec0e95a73999cab0cb04f939b0e3e495b93de267

[2021-07-02 17:30] #96 closed

[2021-07-09 17:54] kirksl opened #98 "Add markers in overview ruler to show location of each Karate test in editor"

[2021-07-09 17:55] kirksl opened #99 "Add results summary as a hover message to each Karate test's title in editor"

[2021-07-09 17:55] kirksl opened #100 "Add results summary as a hover message to each Karate test's treeview node"

[2021-07-09 20:31] kirksl commented on #98
https://github.com/kirksl/karate-runner/commit/456513e2186bb832ac91c954c9eef3c2dc85cdeb

[2021-07-09 20:31] #98 closed

[2021-07-09 20:32] kirksl commented on #99
https://github.com/kirksl/karate-runner/commit/456513e2186bb832ac91c954c9eef3c2dc85cdeb

[2021-07-09 20:32] #99 closed

[2021-07-09 20:32] kirksl commented on #100
https://github.com/kirksl/karate-runner/commit/456513e2186bb832ac91c954c9eef3c2dc85cdeb

[2021-07-09 20:32] #100 closed

[2021-07-21 20:34] kirksl commented on #94
closing due to inactivity.  please reopen a new ticket if this is still a problem.

[2021-07-21 20:34] #94 closed

[2021-07-22 05:18] kirksl opened #102 "Add support for and enablement of extension in untrusted workspaces"

[2021-07-22 05:19] kirksl opened #103 "Add Welcome View in Activity Bar when no project or workspace is loaded"

[2021-07-22 05:20] kirksl opened #104 "Add feature to color status bar red when reaching defined failure threshold"

[2021-07-22 05:22] kirksl opened #105 "Add option to additionally filter Tests view in Activity Bar by Tag expressions"

[2021-07-22 05:25] kirksl opened #106 "Add option to search Status Bar executions additionally by Description and Details"

[2021-07-22 05:29] #102 closed

[2021-07-22 05:29] #103 closed

[2021-07-22 05:29] #104 closed

[2021-07-22 05:29] #105 closed

[2021-07-22 05:29] #106 closed

[2021-07-22 21:06] kirksl opened #108 "Fix issue where Tests view remains empty when no filter is provided to Filter By Tag"

[2021-07-22 21:08] #108 closed

[2021-08-24 09:03] bbrtan opened #110 "Failed to execute goal on 2.22.2 Surefire on 1.0.9 Karate-Runner"
HI Kirk .

I am  encountering an persisting issue  when running _Syncrunner when trying to execute a feature with error on surefire execution failing.

i am fairly new to this and have read other issue threads on changing  to "Testrunner" under "closed" issues but the issue still persist in my env. The test conducted is fairly basic and its i ran this.

**Env**
bash-4.4$ mvn -v
Apache Maven 3.5.4

[2021-08-24 16:21] kirksl commented on #110
hi @bbrtan
please make sure you set your "runner" to the correct name.  _Syncrunner, Testrunner, etc are just examples that other projects use.  you might want to just leverage our existing sample project to get started. (below)

sample project
https://github.com/kirksl/karate-maven-gradle

the "runner" in this project is called KarateRunner which is defined here
https://github.com/kirksl/karate-m

[2021-08-25 16:36] bbrtan commented on #110
@kirksl

-------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  5.671 s
[INFO] Finished at: 2021-08-26T00:33:30+08:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.6.0:compile (default-compile) on pro

[2021-08-29 20:40] kirksl commented on #110
@bbrtan glad you figured it out.  please let us know if you need any further help or if we can make things clearer in the documentation.

[2021-08-30 22:14] kirksl opened #111 "Improve status bar experience"
Add running spinner to status bar
Update status bar tooltip with rich markdown, hyperlinks

[2021-08-30 22:15] kirksl opened #112 "Improve intellisense experience for read()"
Trigger intellisense by ', ", <space>
Update to replace previously set string in read()

[2021-08-30 22:16] kirksl opened #113 "Improve test results shown when hovering over tests in text editor"
Attempted to move from test title to gutter icon
Blocked at this time due to vscode issues 47559, 28080
To revisit if/when vscode adds API for this

[2021-08-30 22:17] kirksl opened #114 "Communicate access to Karate / Karate Runner sample projects"
Update welcome screen with buttons to sample projects
Update readme with links to sample projects

[2021-08-30 22:23] kirksl commented on #114
https://github.com/kirksl/karate-runner/commit/c85d295060662aaa25f2bebe613f2f9d75e21285

[2021-08-30 22:23] #114 closed

[2021-08-30 22:23] kirksl commented on #113
backlog

[2021-08-30 22:23] #113 closed

[2021-08-30 22:24] kirksl commented on #112
https://github.com/kirksl/karate-runner/commit/c85d295060662aaa25f2bebe613f2f9d75e21285

[2021-08-30 22:24] #112 closed

[2021-08-30 22:24] kirksl commented on #111
https://github.com/kirksl/karate-runner/commit/c85d295060662aaa25f2bebe613f2f9d75e21285

[2021-08-30 22:24] #111 closed

[2021-09-14 16:07] isingh78 opened #116 "Intellisense does not work in VSCode"
Today , I tried and installed this extension to VSCode for karate. But intellisense is not working.

[2021-09-14 23:36] kirksl commented on #116
@isingh78 can you describe your project folder and file structure.  a sample project showing the issue would be ideal if possible if you can send one.

[2021-09-17 00:57] techshashank80 opened #117 "Codelens fails to load when installing extension https://marketplace.visualstudio.com/items?itemName=pxius.karatesyntax"
Hi
I have created the maven-java project. I installed the karate runner and followed the steps mentioned here https://github.com/intuit/karate/wiki/Karate-Robot-Windows-Install-Guide
But I am not seeing the run /debug option in the feature file however I was able to see it in 1.41.1
After upgrading to the latest 1.60.0, I cant see
I used a sample maven-Gradle project but still the same issue.
atta

[2021-09-17 01:31] kirksl commented on #117
@techshashank80 can you uninstall Karate IDE and possibly other Karate extensions like the extension pack.  I know Karate IDE for example was a project copied from Karate Runner and very likely creating a conflict.  You may need to delete the extension files in your computer profile too for example under /yourusername/.vscode/extensions

[2021-09-17 03:34] techshashank80 commented on #117
Thank you @kirksl, as you suggested I uninstalled the Karate IDE, deleted it from the .vscode profile. Still, I was not able to see Debug/Run then I uninstalled another extension 'Karate Extension Pack' then it worked fine. Now I can see it.

[2021-09-17 16:01] kirksl commented on #117
@techshashank80 happy to help.  i'm going to keep this ticket open to see if i can update Karate Runner to defend against this conflict.  unfortunately many times these things are out of our control.

[2021-09-20 23:29] kirksl opened #118 "Add sponsors"

[2021-09-21 00:18] kirksl commented on #117
marked external.  we could not find a resolution to defend against this in our project.
issue opened in the project affecting this project https://github.com/pXius/karatesyntax/issues/1

[2021-09-21 00:54] kirksl commented on #118
https://github.com/kirksl/karate-runner/commit/13a4f823c460e6dace04434aaf21a562d2dd7eff
@ptrthomas

[2021-09-21 00:54] #118 closed

[2021-09-21 00:55] #117 closed

[2021-09-21 17:43] techshashank80 opened #120 "Karate runner not able to read the file using karate.read()"
I have the script is running fine with IntelliJ and Maven command. But it's not running with karate runner using "karate Run" from the feature file.

Karate. Read not working with Karate runner ext,. any clue?
Karate runner is not recognizing the karate.read('classpath:xxx)

[2021-09-21 21:07] kirksl commented on #120
@techshashank80 greatly appreciate it if you can copy and paste the error you are seeing in your VSCode terminal.  another thing that would really help solve this quickly is if you can send me a zip file of a project that can reproduce the problem.

[2021-09-21 22:54] techshashank80 commented on #120
Thanks for the response @kirksl here is error log
I used the sample karate runner project for this just added one json file and trying to read it.

`ir to: target\karate-reports_1632264537290
15:48:57.315 [main]  INFO  c.intuit.karate.core.FeatureRuntime - found scenario at line: 8
15:48:58.176 [main]  ERROR com.intuit.karate - src/test/java/org/company/order.feature:9
* def locaters = read('class

[2021-09-21 22:58] techshashank80 commented on #120
How can send you the project? Zip project is ready.

[2021-09-21 23:03] techshashank80 commented on #120
Otherwise this is Order.feature file code
@tests=order
Feature: order

    Background:

    @test=order1
    Scenario: order 1
        * def locaters = read('classpath:org/company/page_objects/readData.json')
        * print 'order 1'

    @test=order2
    Scenario: order 2
        * print 'order 2'

    @test=order3
    Scenario: order 3
        Given path '/order'
        When method get

[2021-09-23 03:00] kirksl commented on #120
@techshashank80 i can't reproduce the problem.  does it work if you use maven instead of karate.jar?  i didn't add karate.jar and it runs with this command:
mvnw clean test -f "c:\git\karate-maven-gradle\pom.xml" -Dtest=KarateRunner "-Dkarate.options=c:\git\karate-maven-gradle\src\test\java\org\company\order.feature:8"

![image](https://user-images.githubusercontent.com/24948266/134448737-39f16762

[2021-09-23 17:49] techshashank80 commented on #120
Thanks for investigating. It works fine with maven but when I click "Karate Run"/ Karate.Debug" from feature file, it does not work. Did you click "karate Run" from feature file?

[2021-09-23 18:13] kirksl commented on #120
@techshashank80 yes both work.  here's a video of setting up debugging and running everything.
https://recordit.co/018kyWH0vD

[2021-09-23 20:15] techshashank80 commented on #120
@kirksl  Thank you, your video helped me to figure out the problem. If I have karate.jar and karate.robot.jar in the project folder and use standalone debug it does not work. so I removed these two and used maven it worked fine with Maven debug config.
The issue with if we add these jar names "java -cp karate.jar;karate-robot.jar;. com.intuit.karate.Main" name karate runner extension then it does

[2021-09-23 21:06] kirksl commented on #120
@techshashank80 happy to help.  you might want to follow up with the official [Karate project](https://github.com/intuit) and see if the "java -cp" command you are trying to run is supported.  also make sure you are using the correct version of karate.jar possibly?

one more link that might be useful.
https://github.com/intuit/karate/wiki/Debug-Server#karate-cli

feel free open a new bug here if t

[2021-09-23 21:06] #120 closed

[2021-10-01 03:56] kirksl commented on #116
@isingh78 closing due to inactivity.  please open a new ticket if this is still an issue

[2021-10-01 03:56] #116 closed

[2021-10-25 16:06] workwithprashant opened #121 "VSCode debugger hangs after first iteration in Scenario Outline"
**Environment**:
Karate Runner v1.1.1
VSCode: 1.61.2

1. Download sample [project](https://github.com/workwithprashant/poc-karate-debug/tree/bugfix/vscode_debug_scenario_outline_stuck_after_first_iteration)
2. Put breakpoint in [users.feature](https://github.com/workwithprashant/poc-karate-debug/blob/bugfix/vscode_debug_scenario_outline_stuck_after_first_iteration/src/test/java/examples/users.feat

[2021-10-26 15:51] kelly-dealerware opened #122 "'Karate: Run' codelens runs all gradle tests instead of just the selected feature/scenario"
Clicking 'Karate: Run' inside a feature file should run only that feature or scenario, depending on what was clicked, but it runs ALL tests when used with Gradle, and then runs just the selected test again.  'Karate: Debug' however, works as expected.

Note: the '...' ellipses below are placeholders for brevity and security.

Karate Runner uses this command (note the 'test' command, which runs all

[2021-11-01 15:44] kelly-dealerware commented on #122
@kirksl This is not project-specific.  It's the Runner code that is doing this.  The commands being run are incorrect for the KarateRunner gradle implementation when using the 'Karate: Run' codelens.  I can take a few minutes this afternoon and walk through the code and see where it's happening.  This is the 'karateExecute' task I use in every project:

[code]

[2021-11-01 16:49] kirksl commented on #122
@kelly-dealerware this might be project configuration specific.  eg notice how in the sample project referenced above 'karate-maven-gradle' karateExecute is defined as follows https://github.com/kirksl/karate-maven-gradle/blob/master/build.gradle.kts#L151

it might not hurt just to try that project for a quick process of elimination check.  i have worked quite a bit with Karate and Peter to ensure

[2021-11-01 21:11] kelly-dealerware commented on #122
@kirksl Alright, I'm not sure what it was, when I run yours it worked on both maven and gradle, then when I ran mine it worked correctly, without changing any code/config.  I wonder if it was a VSCode issue and running your project settled it down.

Anyway, closing this as it's not an issue anymore.  Thanks for the pointers!

[2021-11-01 21:11] #122 closed

[2021-11-02 01:14] kirksl commented on #122
@kelly-dealerware happy to help.  let me know if it happens again!

[2022-01-02 01:57] kirksl commented on #121
@workwithprashant i am unable to reproduce this issue using your repro steps.  using your project without any changes, on windows 10, vscode 1.63.1.  please let us know if this is still an issue for you.

https://recordit.co/UE57nb5Faq

[2022-01-04 19:44] workwithprashant commented on #121
@kirksl As mentioned in my previous [reply ](https://github.com/kirksl/karate-runner/issues/121#issuecomment-951927668), it started working only after changing from `karate.call` to `karate.callSingle`. If you change back `karate.callSingle` to `karate.call`, you will be able to reproduce the issue as shown in following video recording.

**Environment**:
Windows 10
VSCode 1.63.2

https://recordit.

[2022-01-04 20:47] kirksl commented on #121
@workwithprashant thanks for the re-clarification.  this issue is happening on the command line when not using karate runner extension.  because of that this looks external and related to karate.  closing here, but please open in the karatelabs repo.

[2022-01-04 20:47] #121 closed

[2022-01-04 21:31] workwithprashant commented on #121
@kirksl Sorry, I am confused. I am using `Karate: Debug` and not using command line anywhere (followed the similar steps as your vide) . Please let me know how did you determine that the issue is happening on the command line.

[2022-01-04 22:29] kirksl commented on #121
@workwithprashant i started my own debug adapter and issued the same commands that the vscode ide does via its base protocol as described here https://microsoft.github.io/debug-adapter-protocol/overview.  This removed vscode and karate runner from the repro.  my thoughts are implementation on the karate side communicating back to the debug adapter has an issue.

[2022-01-08 04:04] kirksl opened #123 "Update copyright to 2022"

[2022-01-08 04:04] kirksl opened #124 "Upgrade from VSCode 1.59 -> 1.63"

[2022-01-08 04:04] kirksl opened #125 "Cleanup SVG dimensions"

[2022-01-08 04:05] kirksl opened #126 "Suffix row number annotation to Examples/Table rows"

[2022-01-08 04:05] kirksl opened #127 "Add Move Up/Down/Clone/Delete buttons to hover for Examples/Table rows"

[2022-01-08 04:05] kirksl opened #128 "Add option to run all tests from and report aggregate results to workspace root node in tests view"

[2022-01-08 04:06] kirksl opened #129 "Fix issue where blank tags were displaying in tests view when in tags display mode"

[2022-01-08 04:28] kirksl commented on #129
https://github.com/kirksl/karate-runner/commit/1af3776721fb16692a3c8db2251bc378170e6851

[2022-01-08 04:28] #129 closed

[2022-01-08 04:28] kirksl commented on #128
https://github.com/kirksl/karate-runner/commit/1af3776721fb16692a3c8db2251bc378170e6851

[2022-01-08 04:28] #128 closed

[2022-01-08 04:28] kirksl commented on #127
https://github.com/kirksl/karate-runner/commit/1af3776721fb16692a3c8db2251bc378170e6851

[2022-01-08 04:28] #127 closed

[2022-01-08 04:28] kirksl commented on #126
https://github.com/kirksl/karate-runner/commit/1af3776721fb16692a3c8db2251bc378170e6851

[2022-01-08 04:28] #126 closed

[2022-01-08 04:29] kirksl commented on #123
https://github.com/kirksl/karate-runner/commit/1af3776721fb16692a3c8db2251bc378170e6851

[2022-01-08 04:29] #123 closed

[2022-01-08 04:29] kirksl commented on #124
https://github.com/kirksl/karate-runner/commit/1af3776721fb16692a3c8db2251bc378170e6851

[2022-01-08 04:29] #124 closed

[2022-01-08 04:29] kirksl commented on #125
https://github.com/kirksl/karate-runner/commit/1af3776721fb16692a3c8db2251bc378170e6851

[2022-01-08 04:29] #125 closed

[2022-01-15 14:57] wasimfyrose commented on #23
I am still facing the same issue in VSC(windows) even though its running with "mvn clean test-compile "

[2022-01-15 20:19] kirksl commented on #23
@wasimfyrose do you happen to have an example project demonstrating the problem. that will be the fastest way to solve this as I can't reproduce the problem.

[2022-02-22 22:01] kirksl opened #131 "Fix issue where button to open settings does not give workspace settings focus"

[2022-02-22 22:01] kirksl opened #132 "Fix issue where peek does not work in all places like karate.call()"

[2022-02-22 22:02] kirksl opened #133 "Add breadcrumbs/navigation for tests in IDE editor"

[2022-02-22 22:02] kirksl opened #134 "Rebrand all Intuit assets such as links to Karatelabs"

[2022-02-22 22:03] kirksl opened #135 "Fix issue where typing a quote already trailed by a quote inserts another trailing quote"

[2022-02-22 22:04] kirksl opened #136 "Add application insights via VSCode telemetry"

[2022-02-23 03:22] #131 closed

[2022-02-23 03:22] #132 closed

[2022-02-23 03:22] #133 closed

[2022-02-23 03:22] #134 closed

[2022-02-23 03:22] #135 closed

[2022-02-23 03:22] #136 closed

[2022-04-03 16:34] abbringas opened #138 "TypeError: Access to host class is not allowed or does not exist"
Encountered this error below when using Karate runner VSCode extension but working fine when run as JUnit test.
org.graalvm.polyglot.PolyglotException: TypeError: Access to host class examples.users.Helper is not allowed or does not exist.

When run using Karate Runner:
![image](https://user-images.githubusercontent.com/69393091/161438173-b5f29b8e-2c13-43c7-8f86-c37b0ea0e5d0.png)

When run using J

[2022-04-04 19:15] kirksl commented on #138
@abbringas can you duplicate using this project?
https://github.com/kirksl/karate-maven-gradle

If not can you post a sample project

[2022-04-10 18:30] abbringas commented on #138
Sorry for the late response. here's the sample project I used and shown from the screenshots. Let me know if you need anything else.

[2022-04-11 07:54] cheanwei opened #140 "Add support for VSCode multi-root workspace"
When open a VSCode multi-root workspace, the .feature files only detected for the first root folder. .feature files in other folders are not detected.

[2022-04-15 13:59] smtripathi99 opened #141 "VS Code karate config js error while running scenario with java 1.8 and karate zip release version 1.2.0.RC1"
I am getting following error while running a scenario file from VS Code 1.53.2 with Java 1.8 and karate version 1.2.0.RC1, Windows 10 64 bit:

ERROR com.intuit.karate - src/test/java/feature/FOC.feature:5
  * url baseUrl
  js failed:

 01: baseUrl

   org.graalvm.polyglot.PolyglotException: ReferenceError: "baseUrl" is not defined
   - <js>.:program(Unnamed:1)

karate-config.js file:

[code]

feat

[2022-04-17 19:07] abbringas commented on #138
@ki

@kirksl hoping to have an update on this. Is it a bug?

[2022-04-18 02:11] kirksl commented on #138
@abbringas Looks like you just need to update `Karate Runner > Karate Jar: Command Line Args` in VSCode Settings to point to include your `test-classes`.  See attached image where I updated that setting to `java -cp karate.jar;target/test-classes com.intuit.karate.Main`.  Note change the semicolon to a colon if you are Mac/Linux.

Happy as well to take a PR on the karate-runner project if you want

[2022-04-20 21:25] kirksl commented on #138
@abbringas Closing as this appears resolved.  Please open a new ticket if you have any further issues.  Thank you.

[2022-04-20 21:25] #138 closed

[2022-04-20 23:22] kirksl commented on #141
@smtripathi99 I can't reproduce this.  I downloaded the same Zip Release and added a karate-config and feature file both shown in the screenshot.  I am using VSCode 1.66.2.  Can you try again?
![image](https://user-images.githubusercontent.com/24948266/164340448-12e640b0-6730-4a27-8cd8-534edf0309e7.png)

[2022-04-25 17:08] kirksl commented on #141
@smtripathi99 Closing this for now.  Please open a new ticket if this is still an issue.

[2022-04-25 17:08] #141 closed

[2022-04-25 20:15] smtripathi99 opened #142 "VS Code karate config js error while running scenario with java 1.8 and karate zip release version 1.2.0.RC1"
I am getting following error while running a scenario file from VS Code 1.53.2 with Java 1.8 and karate version 1.2.0.RC1, Windows 10 64 bit:

 [main]  ERROR com.intuit.karate - src/demo/api/httpbin.feature:4
* url baseUrl
js failed:

01: baseUrl
<<<<
org.graalvm.polyglot.PolyglotException: ReferenceError: "baseUrl" is not defined
- <js>.:program(Unnamed:1)

src/demo/api/httpbin.feature:4

karate-

[2022-04-25 20:17] smtripathi99 commented on #142
![image](https://user-images.githubusercontent.com/6882210/165167932-4d52c95b-7e65-4fa3-88a4-d34c3d3c1752.png)

[2022-04-28 04:18] ajmera25 opened #143 "Feature Request :- get Scenario tag name intellisense in calling feature"
I am having a feature called Feature1 and in this i am having a scenario called Scenario1 and Scenario2.

Scenario1 is having tag as @smoke

Now, From another feature i want to call only Scenario1 then the syntax is
  * call read('classpath:common/Feature1.feature@smoke').
Here is it possible to have intellisense so that when i write @ then it give me all the tag present in Feature1.feature.

[2022-04-28 21:02] kirksl commented on #143
@ajmera25 thank you for the feature request.  This should be possible we'll update intellisense logic to additionally show tags as selectable options and include this in our next release.

[2022-05-02 16:49] kirksl commented on #142
@smtripathi99 I see a couple of problems.

1. I don't see `var config = {}` set in karate-config.js.
2. You should remove `url` from line 7 in httpbin.feature.
3. karate-config shows an error the red number `1` in the treeview.  That is likely part of the problem.
4. Please see the screenshot attached below that works when I test this same scenario.

If you are still having trouble please upload a

[2022-05-03 18:13] smtripathi99 commented on #142
Thanks , how can I upload a project here?

[2022-05-03 18:19] smtripathi99 commented on #142
[https://github.com/smtripathi99/karatepoc](url)

[2022-05-03 23:30] kirksl commented on #142
@smtripathi99 I looked at your project files from the github link.

It works for me when I add karate.jar to the root of your project.  Note you will still see an error because the baseUrl value in karate-config.js should be ```config.baseUrl = 'https://httpbin.org'```.  Once you change baseUrl it should succeed.  Please let me know if you are still having problems.

[2022-05-03 23:33] kirksl commented on #140
@cheanwei This will require some time and code changes to enable.  We are putting this on our backlog and will definitely work on this in the future.  Also by all means don't hesitate to assist and create a PR if you need this fixed sooner.

[2022-05-03 23:33] #140 closed

[2022-05-04 23:43] kirksl commented on #142
@smtripathi99 great glad you got it working.  I will close this issue.  Also please consider opening a ticket with Karate Labs if this is a documentation issue.

[2022-05-04 23:43] #142 closed

[2022-05-04 23:47] kirksl opened #144 "Resolve dependabot vulnerabilities in minimist library"
https://github.com/kirksl/karate-runner/pull/139

[2022-05-04 23:47] #144 closed

[2022-05-04 23:50] kirksl opened #145 "Update icon for feature files in VSCode's Explorer Activity to show Karate icon"
Note this will only work when using a File Icon Theme that does not override *.feature file icons such as `Seti (Visual Studio Code)`

[2022-05-04 23:50] #145 closed

[2022-05-04 23:52] #143 closed

[2022-05-16 08:41] tpetru opened #147 "run single test doesn't work"
Hello, I'm new with Karate, and I don't know where to post.

I have 2 features files, with different tests and I'm trying to **run a single test**, and **it's not working**. Do we have an issue, or I did something wrong, or maybe my configurations?

_(when I use **mvn test**, all tests are running)_

I tried to run only 1 test  in two ways:

1. with **CMD+R+1**, when a line with Scenario is focuse

[2022-05-16 19:16] kirksl commented on #147
@tpetru I tried on both Windows and Mac and keyboard shortcut, "Karate: Run" both work for me.  Can you try using our sample project here https://github.com/kirksl/karate-maven-gradle

Also keep in mind the cursor must be on the "Scenario" or within it when using the keyboard shortcut.

[2022-05-16 20:58] charlyautomatiza opened #148 "Question: Do you have plans for support to Karate for NodeJS?"
Related to the recent version of [karate-npm](https://github.com/karatelabs/karate-npm).
Do you have plans to add support to run on this new version?

[2022-05-17 01:43] kirksl commented on #148
@charlyautomatiza yes we do.  @ptrthomas wondering if `karate.executable( )` will support fully qualified paths on Windows, Mac, Linux?  this is currently breaking the historical design of Karate Runner.

![image](https://user-images.githubusercontent.com/24948266/168710545-caf3e162-b7be-4fc8-a845-acc648ff4796.png)

[2022-05-17 03:17] ptrthomas commented on #148
not sure I understand, if the path exists, it should have run the test.

contributions are welcome to both the npm and core

[2022-05-17 18:07] kirksl commented on #148
@ptrthomas happy to look into this.  jbang doesn't seem to find my locally built karate binaries.  any ideas?
![image](https://user-images.githubusercontent.com/24948266/168880699-97a6042f-1b0f-4139-b868-45c7e618a7a4.png)

[2022-05-17 18:12] ptrthomas commented on #148
@kirksl try clearing out your local maven repo. jbang depends on the metadata, so just removing a JAR or sub-folder won't do

[2022-05-17 18:35] kirksl commented on #148
@ptrthomas tried the below and having the same issue.
- removed/confirmed removal of the entire local maven cache: `rd /q /s %userprofile%\.m2\repository`
- rebuilt karate 1.3.0.SNAPSHOT: `mvn clean install -P pre-release -pl -karate-robot -DskipTests`
- reran test from karate-npm with same dependency issue: `npm run test "c:\git\karate-npm\karate\httpbin.feature:3"`

[2022-05-17 19:17] ptrthomas commented on #148
no idea. sorry

[2022-06-02 12:22] khoinguyen opened #149 "Cannot use with VS Code Insider"
I intend to use Karate with Karate Runner on VS Code Insider (the versions below) to test the GraphQL server.

My repo is not Java but javascript/typescript.

After install, I create the feature file, and it works ok with the Karate Cli. My feature file in `<root>/test/karate`, run `karate test` in `<root>` give me the desire result

VS Code editor with Karate Runner display the feature file beaut

[2022-06-02 16:36] kirksl commented on #149
@khoinguyen can you send the Karate Cli command you use that works and what Karate Runner is trying to run for a command in the VSCode IDE console.  also just a heads up we are waiting on a fix from Karate to enable support for Javascript/Typescript based projects.  https://github.com/karatelabs/karate/issues/2016

[2022-06-02 17:59] kirksl commented on #149
@khoinguyen the way Codelens works is by searching for a file in the root of your project so that it can determine if it should use Maven, Gradle, etc.  if pom.xml is found use ```mvn command```, if build.gradle is found use ```gradle command```, etc.  there is currently no detection for javascript or npm specifically (so nothing happens as you see).  once Karate fixes the issue mentioned in my la

[2022-06-03 03:44] khoinguyen commented on #149
hi @kirksl, as the link to the issue above, I far as I understand, it is a Windows-only issue, Mac/Linux users are ok with the current Karate version. Why can't we have it implemented for Karate Runner and let parts of the community continue their uses and report/contribute the functionality bugs/features/PR on it? Later, when it fixes, it can be quickly available for Windows users.

---
As you me

[2022-06-03 16:26] kirksl commented on #149
@khoinguyen we were hoping to avoid special cases where we only ignore Windows.  if the fix from Karate takes awhile we will definitely release to support Linux/Mac and provide a warning that Windows is not yet supported.  thanks for your points on ```yarn```, ```pnpm```, etc.  time permitting we will definitely consider supporting more.  we are also happy to take a PR if you want to contribute an

[2022-06-03 16:42] khoinguyen commented on #149
Thank you @kirksl for your comments.

I will wait for sometime, in the mean time I can use karate client for my tests.

Will think about what I can contribute more for this project. Thank you for your contribution

[2022-06-09 04:32] kirksl commented on #147
@tpetru closing.  please open a new issue if this is still a problem.

[2022-06-09 04:32] #147 closed

[2022-06-27 20:54] kirksl opened #150 "Add '@' to auto indentation rules"

[2022-06-27 20:56] kirksl opened #151 "Add extension sponsorship UI"

[2022-06-27 21:04] kirksl opened #152 "Add 'Karate (debug): NPM' configuration"

[2022-06-27 21:17] kirksl opened #153 "Add Karate icons to feature files in Explorer Activity"
File icon themes can override this.   Seti is one icon theme that allows Karate icons in the Explorer Activity.

[2022-06-27 21:22] kirksl opened #154 "Update intellisense for read( ) to include broader range of project files and show file icons in list view"

[2022-06-27 21:23] kirksl opened #155 "Update TextEditor decorations to show pass/fail color in overview ruler and pass/fail icons per Example row"

[2022-06-27 21:25] kirksl opened #156 "Add execution time next to each test run in Tests view"

[2022-06-27 21:29] kirksl opened #157 "Update results shown in hovers (TextEditor tests, Tests view test nodes) to show interactive stack traces and root cause info"

[2022-06-27 21:34] #149 closed

[2022-06-27 21:34] #152 closed, assigned to kirksl

[2022-06-27 21:34] #153 closed, assigned to nobody

[2022-06-27 21:34] #155 closed

[2022-06-27 21:34] #156 closed

[2022-06-27 21:34] #157 closed

[2022-06-27 21:45] kirksl commented on #148
@charlyautomatiza we have implemented support for JS, NPM, Yarn, etc in the karate runner plugin.  note that only Linux and Mac will work right now until the previously mentioned issue https://github.com/karatelabs/karate/issues/2016 is resolved.

[2022-06-27 21:45] #148 closed

[2022-07-25 20:28] jraduget opened #159 "VsCodium support"
Hi,
Any way to get karate-runner plugin for VsCodium platform ?
I have no clue on what is needed to port it.
Thanks for your support

[2022-07-25 21:08] kirksl commented on #159
@jraduget Can you try the following steps and let me know if they work for you?
1. Goto https://marketplace.visualstudio.com/items?itemName=kirkslota.karate-runner
2. Click the "Download Extension" link on the right.  (This will download the extension/VSIX file)
3. Open VSCodium -> Click Extensions -> Click 3 Dots at top of Extensions -> Click "Install from VSIX"
4. Find VSIX downloaded in step 2

[2022-07-26 08:50] jraduget commented on #159
Great, works fine. Thanks

[2022-07-26 08:50] #159 closed

[2022-08-16 16:55] GustavoAntero opened #160 "breakpoint on untitled document"
Hello guys,

we found an issue while doing debug in karate runner.

### Issue
karate runner should not send breakpoints with non existent paths to the debug server.

### Steps to reproduce

* open a folder with a karate project with vscode
* open a new untitled document
* select language mode for karate
* write some steps
* place a breakpoint
* save to file disk
* start debug session with karate r

[2022-09-07 09:22] bischoffdev opened #161 "Karatelabs VSCode extension"
Hello, I just learned that there is a Karatelabs VSCode extension now as well. Is this something separate to this one? Because it seems like a lot of the features that yours has for free they now offer as paid functionality.

[2022-09-07 18:15] kirksl commented on #161
Hello.  Yes there are indeed two extensions.  This one (Karate Runner) which we started about 3 years ago that works with VSCode, VSCodium for free.  And recently Karatelabs started one for the Intellij Enterprise community.  Happy to add features to Karate Runner on request just let us know!

[2022-09-08 05:40] bischoffdev commented on #161
I don't mean the one from KarateLabs for IntelliJ, I mean the one they started just days ago for VSCode.
https://www.karatelabs.io/visual-studio-code

[2022-09-08 15:56] kirksl commented on #161
Apologies for the confusion.  Yes that is an enterprise spin off as Karate commercializes their product.  Definitely something separate.

[2022-09-27 16:11] #161 closed

[2022-09-29 08:40] bischoffdev commented on #161
Thanks, all good 👍